//-.input-icon.right
            i.fa.fa-info-circle(style="color:#6c7a8d;", data-toggle="tooltip", title="Password must have minimum 8 characters, at least 1 Uppercase Alphabet, 1 Lowercase Alphabet, 1 Number and 1 Special Character.")
            input.form-control.form-control-solid.placeholder-no-fix( type='password', ng-model='login.password', name='password', placeholder="{{ 'Password:login' | translate }}" )

.form-group
    label.col-md-3.control-label.required( for='newPassword1' ) {{ 'new Password:field:edit' | translate }} *
    .col-md-9
        .input-icon.right
            i.fa.fa-info-circle(style="color:#6c7a8d;", data-toggle="tooltip", title="Password must have minimum 8 characters, at least 1 Uppercase Alphabet, 1 Lowercase Alphabet, 1 Number and 1 Special Character.")
            input.form-control( type='password', ng-model='password.newPassword1', name='newPassword1' required, ng-class='{error: password.errors.length }' )

.form-group
    label.col-md-3.control-label.required( for='newPassword2' ) {{ 'confirmNewPassword:field:edit' | translate }} *
    .col-md-9
        input.form-control( type='password', ng-model='password.newPassword2', name='newPassword2' required, ng-class='{error: password.errors.indexOf("same") != -1 }' )


//- .gauge: .filling( style='width:{{ password.errors.length / 6*100 }}%')
//- ul: li(ng-repeat=' errInfo in password.errors ')
    | {{ errInfo + ':passError' | translate }}