.tab-header
    h1.modal-title
        | {{ 'addInput:title:mathformula' | translate }}
    tabs
        a( ng-repeat='tab in tabs', ng-class='{ active: tabview==tab }',
        ng-click='$parent.tabview=tab' )
            | {{ tab + ':mathformula' | translate }}
.tab-body
    ng-include(src='"mathFormula/add/" + tabview + ".pug"')
