.tab-header
    h1.modal-title
        | {{ 'addInput:title:mathformula' | translate }}
    tabs(ng-if='tabview!="details"')
        a( ng-click='$parent.tabview="details"' )
            | {{ 'backToForm:mathformula' | translate }}
.tab-body
    ng-include(src='"mathFormula/add/" + tabview + ".pug"')
