.modal-header
    i.fa.fa-arrow-left.pull-right(ng-if='tabview!="details"', ng-click='$parent.tabview="details"')

    h4.modal-title(ng-if='tabview=="details"')
        | {{ 'addInput:title:mathformula' | translate }}
    h4.modal-title(ng-if='tabview!="details"')
        | {{'selectInput:mathformula'|translate}}

.modal-body
    ng-include(src='"mathFormula/add/" + tabview + ".pug"')
.modal-footer
    button.btn.btn-sm.default(type='button', ng-click='closeThisDialog()') {{ 'cancel:addInput'| translate }}
    button.btn.btn-sm.custom(type='button', ng-click='confirm($parent.input)', ng-if="!disableSaveBTN") {{ 'add:addInput'| translate }}
