div.mathFormula(ng-controller='mathFormula/editor')
    h4 {{ 'inputs:' + $root.__module.name + ':title' | translate }}
    table
        thead: tr
            th {{ 'varName:' + $root.__module.name + ':col' | translate }}
            th {{ 'devices:' + $root.__module.name + ':col' | translate }}
            th {{ 'measurement:' + $root.__module.name + ':col' | translate }}
            th {{ 'timeOffset:' + $root.__module.name + ':col' | translate }}
            th {{ 'currentValue:' + $root.__module.name + ':col' | translate }}
            th &nbsp;
        tbody
            tr( ng-repeat=' (i,input) in item.inputs ')

                //- Name of the variable
                td: b {{ input.varName }}

                //- Device name / Tags
                td {{ input.kind }}
                    em {{ input.id }}

                //- Value type
                td {{ input.type }}

                //- Time dimension
                td(ng-if='input.time') {{ input.time }} d
                td.muted(ng-if='!input.time')
                    | {{ 'last:time:formula' | translate }}

                //- Example value
                td.muted
                    | {{ inputValues[ input.varName ] }}

                //- Delete btn
                td: button.lightButton.pull-right(ng-click='inputs.remove(i)')
                    | &times;

            tr
                td( colspan="4" ) &nbsp;
                td( colspan="2" )
                    button.lightButton.pull-right(ng-click='inputs.add()')
                        | {{ 'addInput:button:mathformula' | translate }}

    br
    h4 {{ 'formula:' + $root.__module.name + ':title' | translate }}
    div.formula(ng-class='{error: currentOutputErr}')
        textarea( ng-model='item.formula' )
        input( readonly, ng-value='currentOutput' )

br
span.saved( ng-if=' item.__saved ' )
    | {{ 'saved:' + $root.__module.name | translate }}
span.failed( ng-if=' item.__failed ' )
    | {{ 'failed:save:' + $root.__module.name | translate }}
button(ng-click='save()', ng-disabled='currentOutputErr').pull-right.lightButton
    | {{ 'save:' + $root.__module.name + ':button' | translate }}
