div(ng-controller="pieCtrl")
  fieldset.form-group()
      span
            measurement-selector(device-id="widget.deviceId", measurement-type="widget.measurementType", smart="widget.smart", add-measurement="addTempDevice()")

      table(class="table-condensed tableModalWidget")
          thead
              tr
                  th {{ 'Device' + ':chart' | translate }}
                  th {{ 'Action' + ':chart' | translate }}
                  
          tbody
              tr(ng-repeat="device in tempDeviceList")
                  td
                      span.modalInputWidget
                          | {{ device.id }}
                  td
                      button.lightButon(ng-click="removeDevice(device)") {{ '-:chart' | translate }}
  .modalButtons
      button.btn.btn-primary.pull-right(ng-click="apply()")
          | {{ 'save' + ':chart' | translate }}