div(ng-controller='adaptativeCtrl')
  table
    tr
      td  
        | Data path
      td
        select(ng-model='api',ng-options="api.name for api in apis",ng-change="resetDataPoints()")

      td
        button(ng-click="loadPathData(api.path)")
          fa(name="gear")
      td(style="color:red",ng-if="loadingInfo!=''")
        | {{loadingInfo}}
    tr(ng-show="resultats && api.main")
        td
          select(ng-model='main',ng-options="resultat[api.main] for resultat in resultats | orderBy:'id' track by resultat.id",ng-change="alert(main)")
        td
          select(ng-model='data',ng-show="main",ng-options="key as key for (key, value) in main[api.data]")
        td(ng-show="main && data")
          button(ng-click="addDataPoints({'idDevice':main.id,'data':data})")
            fa(name="plus")  
    tr(ng-show="resultats && api.possibleStat")
      td
        select(ng-model="dataToStat",ng-options="value for (key,value) in api.possibleStat")
      td
        button(ng-click="addDataPoints({'stat' : dataToStat})")
          fa(name="plus")  
      
  table
    caption
      | Data Points
    th(ng-repeat="(key,value) in widget.dataPoints[0]") {{key}}
    tr(ng-repeat="dataPoint in widget.dataPoints")
      td
        table
          td(ng-repeat="(key,value) in dataPoint") {{value}}
  
  table(ng-show="possibleChart")
    th `Select a chart`
    td
      select(ng-options="chart.name for chart in possibleChart",ng-model="chart",ng-change="applyChart(chart)")
          
      

  .modalButtons
    button.btn.btn-primary.pull-left(ng-click="searchForChart()")
        | `Searching chart`
    button.btn.btn-primary.pull-right(ng-click="confirm({'widget' : widget,'title' : $parent.$parent.widget.title})")
        | `Apply`
