body > app-sidebar {
    position: fixed;
    top: $topnav_height;
    bottom: 0;
    left: 0;
    width: $sidebar_width;
    transition: width 0.1s ease-in, margin 0.1s ease-in;
    background: $sidebar_bg;
    z-index: 100;
    & > a {
        display: block;
        height: $sidebar_item_height;
        width: 100%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        line-height: $sidebar_item_height;
        padding: 0 0 0 $sidebar_width_collapsed;
        box-sizing: border-box;
        transition: width 0.1s ease-in;
        &:hover {
            background-color: $sidebar_bg_hover;
            width: $sidebar_width;
            padding-right: 0;
        }
        &.active {
            background-color: $sidebar_bg_active;
        }
        &.disabled {
            opacity: 0.5;
            cursor: default;
        }
    }
    @media(max-width:$mobile_break) {
        width: 100%;
        margin-left: -101vw;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
        & > a:hover {
            width: 100%;
        }
    }
}
body.collapsed > app-sidebar {
    width: $sidebar_width_collapsed;
    @media (max-width:$mobile_break) {
        width: 100%;
        margin-left: 0;
    }
}
