button{
    display: inline-block;
    background: $button_bg;
    border: none;
    border-radius: 4px;
    padding: 0 $gutter 5px;
    height: 25px;
    line-height: 100%;
    outline: none;

    &:hover{
        background-color: $button_bg_hover;
    }
}
