dropdown {
    position: relative;
    display: inline-block;
    list{
        position: absolute;
        right: 0;
        border: 1px solid #AAA;
        z-index: 2000;
        border-radius: 4px;
        background: white;
        display: block;
        float: right;
        margin: 0;
        margin-top: -50px;
        opacity: 0;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-in;
        &.open {
            max-height: 75vh;
            margin-top: 0px;
            opacity: 1;
        }
        & > a {
            height: 35px;
            line-height: 35px;
            padding: 0 $gutter;
            display: block;
        }

        @media(max-width:$mobile_break){
            margin-top: 100vh;
            position: fixed;
            overflow-y: auto;
            bottom: 0;
            left: 0;
            right: 0;
            border-radius: 0;
        }
    }
}
