div(ng-controller='distributionlists/history')
    accordion( ng-repeat=' log in logs | orderBy:"timestamp":true ', ng-class=' {open:log.$open} ', ng-init=' log.$open = !$index ' )
        header(ng-click=' log.$open = !log.$open ')
            span {{ log.timestamp | localize }}
        div(ng-if="log.message")
            b {{'message'|translate}}: &nbsp;
            span {{log.message}}
        div.table-container
            table.content(ng-repeat=' alert in log.alerts ')
                //- alert
                tr()
                    td.vtop
                        | {{ 'alert:alerts' | translate}}
                    td.right
                        pre
                            a(ng-href="/deviceManager/alerts/{{alert._id}}" target="_blank") {{ alert._id }}
                //- rule
                tr()
                    td.vtop
                        | {{ 'rule:alerts' | translate}} &nbsp;
                    td.right
                        pre
                            a(ng-href="/deviceManager/rules/{{alert.rule.id}}" target="_blank") {{ alert.rule.name }}
                //- Source
                tr()
                    td.vtop
                        | {{ 'source:alerts' | translate}} &nbsp;
                    td.right
                        pre {{ alert.source }}
                //- level
                tr()
                    td.vtop
                        | {{ 'level:alerts' | translate}} &nbsp;
                    td.right
                        pre {{ alert.level }}
                //- category
                tr()
                    td.vtop
                        | {{ 'category:alerts' | translate}} &nbsp;
                    td.right
                        pre {{ alert.category }}
                //- device - object - context
                tr()
                    td
                        | {{ 'context:alerts' | translate}} &nbsp;
                    td.right
                        pre(ng-if="alert.context && ang.isObject(alert.context)")
                            | {{alert.context.kind}}:{{ alert.context.id }}
                        pre(ng-if="!alert.context || !ang.isObject(alert.context)")
                            | {{alert.device}}
                //- message
                tr()
                    td.vtop
                        | {{ 'message:alerts' | translate}} &nbsp;
                    td.right
                        pre {{ alert.message }}
