//- category
select( ng-model='item.category' )
    option( value='' ) {{ 'allCategories:alertsList' | translate }}
    option( disabled, value='──────────' ) ──────────
    option( value='public' ) {{ 'public:category:alertsList' | translate }}
    option( value='technical' ) {{ 'technical:category:alertsList' | translate }}
.input-group-building
//- level
select( ng-model='item.level' )
    option( value='' ) {{ 'allLevels:alertsList' | translate }}
    option( disabled, value='──────────' ) ──────────
    option( value='low' ) {{ 'low:level:alertsList' | translate }}
    option( value='medium' ) {{ 'medium:level:alertsList' | translate }}
    option( value='high' ) {{ 'high:level:alertsList' | translate }}
    option( value='critical' ) {{ 'critical:level:alertsList' | translate }}
.input-group-building
//- rules
select( ng-model='item.rule' )
    option( value='' ) {{ 'allRules:alertsList' | translate }}
    option( disabled, value='──────────' ) ──────────
    option(ng-repeat="r in rules | orderBy:'+name'", value="{{r._id}}", ng-selected="r._id == item.rule") {{ r.name }}

//- div( )
    div(ng-repeat="(i,r) in item.recipients")
        label()
            span(ng-if="i == 0") {{ 'recipients:field' | translate }}
            span(ng-if="i != 0") &nbsp;
        span.closable-input()
            input(ng-model="r.email", ng-blur="r.email?null:item.recipients.splice(i,1)")
            span.cross(ng-click="item.recipients.splice(i,1) && save()") &times;
    span
        label()
            span(ng-if="item.recipients.length == 0") {{'recipients:field' | translate}}
        input(ng-model="newRecipient.email" ng-blur="newRecipient.email?( item.recipients.push(newRecipient) && (newRecipient={})):undefined" placeholder="{{ 'addEmail:mailing:rules' | translate }}")

    br
    button(type='button', ng-click='newRecipient.email?( item.recipients.push(newRecipient) && (recipients={})):true').pull-right.lightButton
        | {{ 'add:' + $root.__module.name + ':button' | translate }}
//- div( )
    label()
        | {{ 'subject:field' | translate }}
    input(type="text" name='subject', ng-model='item.subject' )

//- div( )
    label()
        | {{ 'message:field' | translate }}
    textarea( name='message', ng-model='item.message' )

//- language
//-div( )
    label()
        | {{ 'language:field' | translate }}
    select( name='language', ng-model='item.language' )
        option( ng-repeat='opt in ["en","fr","nl"] ', value='{{opt}}' ) {{ opt + ':' + label + ':option' | translate }}
br
