.portlet.light.bordered(ng-class="editItem ? 'col-md-7 visible-md-block visible-lg-block' : 'col-md-12'")
    .portlet-title.tabbable-line
        .col-xs-7.col-md-8.row
            input.form-control( type="text", ng-model="searchText", ng-model-options="{debounce: 250}", placeholder="{{'search:'+$root.__module.name|translate}}")
        ul.nav.nav-tabs
            li(ng-class="{active: general.activeView == 'tree'}")
                a(ng-click="general.activeView = 'tree'")
                    | {{'treeview:multiview'|translate}}
            li(ng-class="{active: general.activeView == 'list'}")
                a(ng-click="general.activeView = 'list'")
                    | {{'listview:multiview'|translate}}

    .portlet-body(ng-if="general.activeView === 'tree'")
        tree-view(options="treeView.options", edit-item="editItem", update-item="updateItem")

    .portlet-body(ng-if="general.activeView === 'list'")
        h1 todo

.col-md-5(ng-class="{hidden: !editItem}")
    ng-include(src="actions.getMultiViewEdit()")
