//-button.back(ng-click="cancelEdit()") {{ "Back:Buttons" | translate }}


.portlet.box.green.no-title
    .portlet-body
        .tabbable-line
            i.fa.fa-close.pull-right(ng-click='cancelEdit( )')
            ul.nav.nav-tabs
                li(ng-repeat="tab in actions.getBOEditTabs()", ng-class="{'active': general.activeEditTab === tab.name}")
                    a(ng-click="actions.setActiveTab(tab.name)", id="tab-{{ tab.name || 'overview' }}")
                        span( ng-if="tab.title") {{tab.title + ":AssetManager:Tabs" | translate}}
                        span( ng-if="!tab.title") {{ __id }}

            .tab-content
                ng-include(src="actions.resolveEditTabInclude()")