h1.page-title(style="margin-top:0")
    | {{ $root.__module.name + ':module:title' | translate }} 
    small {{ $root.__module.name + ':module:subtitle' | translate }}


.portlet.light.bordered(ng-class="editItem ? 'col-md-7 visible-md-block visible-lg-block' : 'col-md-12'")
    .portlet-title.tabbable-line
        .col-xs-7.col-md-8.row
            .input-icon.right
                i.icon-magnifier
                input.form-control( type="text", ng-model="searchText", ng-model-options="{debounce: 250}", placeholder="{{'search:'+$root.__module.name|translate}}")
        ul.nav.nav-tabs
            li(ng-class="{active: general.activeView == 'tree'}")
                a(ng-click="general.activeView = 'tree'")
                    | {{'treeview:multiview'|translate}}
            li(ng-class="{active: general.activeView == 'list'}")
                a(ng-click="general.activeView = 'list'")
                    | {{'listview:multiview'|translate}}

    .portlet-body(ng-if="general.activeView === 'tree'")
        tree-view(options="treeView.options", edit-item="editItem", update-item="updateItem")

    .portlet-body(ng-if="general.activeView === 'list'")
        list-view(
          data="listView.data",
          columns="listView.columns"
        )

.col-md-5(ng-if="editItem")
    ng-include(old-src="actions.getMultiViewEdit()", src="'generic/details.pug'")
