/* here you can put your own css to customize and override the theme */

@import 'custom/bootstrapCustom';
@import 'custom/portlet';
@import 'custom/table';

.jstree-icon {
    background-image: url("/img/32px.png");
}

.google-visualization-charteditor-dialog {
    z-index: 99999;
    &, *{
        -webkit-box-sizing: initial;
        -moz-box-sizing: initial;
        box-sizing: initial;
    }
}
