form.form-horizontal.col-xs-12
    // <script src="http://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyBR0v1tbeBiywdhvCVypCWlCETApBYqjLQ&sensor=false" type="text/javascript" ></script>
    .form-body
        b {{'static:setup:device'|translate}}
        .form-group
            label.col-md-3.control-label.text-right latitude
            .col-md-9
                input.form-control.ng-pristine.ng-valid.ng-empty.ng-touched(type='text', placeholder="{{'lat:set:setup:device'|translate}}", ng-model='vm.staticPosition.positions.lat')
            
        img(data-ng-src='{{vm.mapIcon.data}}', ng-click='vm.maps.static.toggled = !vm.maps.static.toggled', alt='{{vm.mapIcon.name}}')

        .form-group    
            label.col-md-3.control-label.text-right longitude
            .col-md-9
                input.form-control.ng-pristine.ng-valid.ng-empty.ng-touched(type='text', placeholder="{{'lng:set:setup:device'|translate}}", ng-model='vm.staticPosition.positions.lng')
        
        setup-map(controls='vm.controls', position='vm.staticPosition.positions', edit='true', name="'static'", toggle='vm.maps.static.toggled')

        b {{'icon:setup:device'|translate}}
        div
            canvas#canvas(width='36', height='36', ng-click='openModal()')
            color-picker(ng-model='vm.colorPicker.value', options='vm.colorPicker.options', event-api='vm.eventApi')
        
            icon-picker(icon-selected='vm.iconSelected', proc-event='vm.procSelectIcon')
            canvas#canvasHistory(ng-show='false', width='60', height='60')

        p.text-right( ng-if='vm.device.updatedAt || device.updatedBy' )
            | {{ 'lastUpdate:itemInfo' | translate }}
            span(ng-if='vm.device.updatedAt')
                | &nbsp;{{ vm.device.updatedAt | localize }}
            span(ng-if='vm.device.updatedBy')
                | &nbsp;{{'by:iteminfo'|translate}}
                | &nbsp;{{ vm.device.updatedBy.firstName }}
                | &nbsp;{{ vm.device.updatedBy.lastName }}
        p.text-right( ng-if='!vm.device.updatedAt && !vm.device.updatedBy' )
            span(ng-if='vm.device.createdAt || vm.device.createdBy')
                | {{ 'createdAt:itemInfo' | translate }}
                span(ng-if='vm.device.createdAt')
                    | &nbsp;{{ vm.device.createdAt | localize }}
                span(ng-if='vm.device.createdBy')
                    | &nbsp;{{'by:iteminfo'|translate}}
                    | &nbsp;{{ vm.device.createdBy.firstName }}
                    | &nbsp;{{ vm.device.createdBy.lastName }}

    .form-actions
        .row
            .col-xs-12
                .btn-toolbar.pull-right
                    button.btn.btn-sm.custom(ng-click='vm.updateDevice()')
                        span(ng-if='!vm.loadingUpdate')
                            | {{'update:general'|translate}}
                        span(ng-if='vm.loadingUpdate')
                            | {{'update:general'|translate}}...