<div>
    <!--<script src="http://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyBR0v1tbeBiywdhvCVypCWlCETApBYqjLQ&sensor=false" type="text/javascript" ></script>-->
    <div>
        <div> <b>{{'static:setup:device'|translate}}</b> </div>

        <div>


            <div class="lat" >
                <label>latitude</label>
                <input type="text" placeholder="{{'lat:set:setup:device'|translate}}"  ng-model="vm.staticPosition.positions.lat" class="ng-pristine ng-valid ng-empty ng-touched">
            </div>

            <img data-ng-src="{{vm.mapIcon.data}}" ng-click="vm.maps.static.toggled = !vm.maps.static.toggled" alt="{{vm.mapIcon.name}}">

            <div class="lng" >
                <label>longitude</label>
                <input type="text" placeholder="{{'lng:set:setup:device'|translate}}"  ng-model="vm.staticPosition.positions.lng" class="ng-pristine ng-valid ng-empty ng-touched">
            </div>


        </div>

        <setup-map controls="vm.controls" position="vm.staticPosition.positions" edit="true" name="'static'"  toggle="vm.maps.static.toggled" ></setup-map>
    </div>


    <div ng-show="vm.gps && vm.gps.timestamp" >
        <div> <b>{{'gps:setup:device'|translate}}</b> <span> ({{ vm.gps.timestamp | localize }})  </span></div>

        <div>

            <div class="lat" >
                <label>latitude</label>
                <input type="text" ng-model="vm.gps.positions.lat" class="ng-pristine ng-valid ng-empty ng-touched" disabled >
            </div>

            <img data-ng-src="{{vm.mapIcon.data}}" ng-click="vm.maps.gps.toggled = !vm.maps.gps.toggled" alt="{{vm.mapIcon.name}}">

            <div class="lng" >
                <label>longitude</label>
                <input type="text" ng-model="vm.gps.positions.lng" class="ng-pristine ng-valid ng-empty ng-touched" disabled >
            </div>

        </div>

        <setup-map position="vm.gps.positions" edit="false" name="'gps'"  toggle="vm.maps.gps.toggled" ></setup-map>
    </div>


    <div ng-show="vm.network && vm.network.timestamp" >
        <div> <b>{{'network:setup:device'|translate}}</b> <span> ({{ vm.network.timestamp | localize }}) </span> </div>

        <div>

            <div class="lat" >
                <label>latitude</label>
                <input type="text" ng-model="vm.network.positions.lat" class="ng-pristine ng-valid ng-empty ng-touched" disabled >
            </div>

            <img data-ng-src="{{vm.mapIcon.data}}" ng-click="vm.maps.network.toggled = !vm.maps.network.toggled" alt="{{vm.mapIcon.name}}">

            <div class="lng" >
                <label>longitude</label>
                <input type="text" ng-model="vm.network.positions.lng" class="ng-pristine ng-valid ng-empty ng-touched" disabled >
            </div>

        </div>

        <setup-map position="vm.network.positions" edit="false" name="'network'"   toggle="vm.maps.network.toggled" ></setup-map>
    </div>


    <div ng-show="vm.lbs && vm.lbs.timestamp" >
        <div> <b>{{'lbs:setup:device'|translate}}</b> <span> ({{ vm.lbs.timestamp | localize }}) </span> </div>

        <div>

            <div class="lat" >
                <label>latitude</label>
                <input type="text" ng-model="vm.lbs.positions.lat" class="ng-pristine ng-valid ng-empty ng-touched" disabled >
            </div>

            <img data-ng-src="{{vm.mapIcon.data}}" ng-click="vm.maps.lbs.toggled = !vm.maps.lbs.toggled" alt="{{vm.mapIcon.name}}">

            <div class="lng" >
                <label>longitude</label>
                <input type="text" ng-model="vm.lbs.positions.lng" class="ng-pristine ng-valid ng-empty ng-touched" disabled >
            </div>

        </div>
        <setup-map position="vm.lbs.positions" edit="false" name="'lbs'"  toggle="vm.maps.lbs.toggled" ></setup-map>
    </div>


    <div>
        <div> <b>{{'icon:setup:device'|translate}}</b> </div>
        <div class="iconBar" >
            <canvas id="canvas" width="36" height="36" ng-click="vm.procSelectIcon = !vm.procSelectIcon;" ></canvas>
            <color-picker ng-model="vm.colorPicker.value" options="vm.colorPicker.options" event-api="vm.eventApi" ></color-picker>
        </div>

        <button class="pull-right lightButton " ng-click="vm.updateDevice()"   >
                <span ng-if="!vm.loadingUpdate" >
                    {{'update:general'|translate}}
                </span>
            <span ng-if="vm.loadingUpdate" >
                    {{'loading'|translate}}
                </span>
        </button>
    </div>


    <icon-picker icon-selected="vm.iconSelected" proc-event="vm.procSelectIcon"></icon-picker>

    <canvas ng-show="false" id="canvasHistory" width="60" height="60" ></canvas>
</div>