span
    script(type='text/ng-template', id='popupConfirm.pug').
        <div class="modal-header">
            <h4 class="modal-title">Icon Picker</h4>
        </div>
        <div class="modal-body">
            <div class="input-group col-xs-12">
                <div class="input-icon right">
                    <i class="icon-magnifier"></i>
                    <input type="text" class="form-control" ng-model="filterIconsName" placeholder="{{'search:'+$root.__module.name|translate}}">
                </div>
            </div>
            <div class="icon-picker">
                <span ng-repeat="icon in icons | filter: { name : filterIconsName } track by $index"  >
                    <img data-ng-src="data:image/png;base64,{{icon.data}}" ng-click="vm.click( icon );" ng-class="{'icon-selected': icon.data == vm.iconPreSelected}"/>
                </span>
            </div>
        </div>
        <div class="modal-footer">
            <div class="has-error" ng-if='__validation.length == 0'>
                <span class="help-block">{{message}}</span>
            </div>
            <button class="btn dark btn-outline" type="button" ng-click='cancel();closeThisDialog()'>Cancel</button>
            <button class="btn green" type="button" ng-click='save();closeThisDialog()' ng-if="!disableSaveBTN">Save changes</button>
        </div>