.portlet.box
    .portlet-body
        .tabbable-line
            i.fa.fa-close.pull-right(ng-click='backToList ? backToList($root.__module ) : $root.go( $root.__module );')
            ul.nav.nav-tabs.nav-tabs-sm
                li(ng-repeat='(name, config) in $root.__module.config.tabs', ng-class='{ active: name == __view }')
                    a(ng-click='tab(name)', id="tab-{{ name || 'overview' }}")
                        span( ng-if="name") {{ name + ':tab:' + $root.__module.name | translate }}
                        span( ng-if="!name") {{ item.name || __id }}

        .tab-content
            ng-include( src=" $root.__module.config.tabs[__view].templateUrl || 'generic/overview.pug' " tab="{{__view||'overview'}}")
