tabs
    a(ng-repeat=' ( name, config ) in __module.config.tabs ', ng-click=' tab( name ) ', ng-class=' { active: name == __view }')
        span( ng-if=" name ") {{ name + ':tab:' + __module.name | translate }}
        span( ng-if=" !name ") {{ __id }}

br
ng-include( src=" config.templateUrl || 'generic/overview.pug' " )
