form( ng-submit='' )
    div( ng-repeat=' field in fields ', ng-class="{ error: __validation.indexOf(field) !==-1 }", ng-if-DISABLED="inputVisible(field)" )
        label( for='{{field}}', ng-class="{ required: __joi.computed[field]._flags.presence == 'required' }" )
            | {{ field + ':field' | translate }}

        //- Unknown => Read only
        input( name='{{field}}', ng-if="inputType(field) == 'readOnly'", ng-value='item[field] | localize', readonly )
        input( name='{{field}}', ng-if="inputType(field) == 'readOnlyName'", ng-value='item[field].name', readonly )
        input( name='{{field}}', ng-if="inputType(field) == 'readOnly_Id'", ng-value='item[field]._id', readonly )
        input( name='{{field}}', ng-if="inputType(field) == 'readOnlyId'", ng-value='item[field].id', readonly )

        //- _id
        input( name='{{field}}', ng-if="inputType(field) == 'id'", ng-value='item[field]', readonly )

        //- Numbers (with or without units)
        input( name='{{field}}', ng-if="inputType(field) == 'number'", ng-model='item[field]', type="number", ng-required="__joi.computed[field]._flags.presence" )
        span.unit( ng-if="inputType(field) == 'unit'" )
            input( name='{{field}}', ng-model='item[field]', type="number", ng-required="__joi.computed[field]._flags.presence" )
            span {{ __joi.computed[field]._unit + ':unit' | translate }}

        //- Strings
        input( name='{{field}}', ng-if="inputType(field) == 'string'", ng-model='item[field]', ng-required="__joi.computed[field]._flags.presence" )

        //- Passwords
        input( name='{{field}}', ng-if="inputType(field) == 'password'", ng-model='item[field]', type="password" )

        //- Enums
        select( name='{{field}}', ng-if="inputType(field) == 'enum'", ng-model='item[field]', ng-required="__joi.computed[field]._flags.presence" )
            option( ng-repeat=' opt in __joi.computed[field]._valids._set ', value='{{opt}}' ) {{ opt + ':' + label + ':option' | translate }}

        //- API Enums
        select( name='{{field}}', ng-if="inputType(field) == 'api'", ng-model='item[field]', ng-required="__joi.computed[field]._flags.presence" )
            option( value='SUPER' ng-if="item[field]=='SUPER' || $root.user.role == 'SUPER'" ng-disabled="$root.user.role != 'SUPER'")
                | {{ 'superUser:userGroups' | translate }}
            option(ng-repeat='opt in inputEnums(field)',value='{{opt.value}}')
                | {{ opt.show }}

        //- Textareas
        textarea( name='{{field}}', ng-if="inputType(field) == 'textarea'", ng-model='item[field]', ng-required="__joi.computed[field]._flags.presence" )

        //- Boolean
        input( name='{{field}}', type="checkbox", ng-if="inputType(field) == 'boolean'", ng-model='item[field]' )

        //- Tags
        tags-input.tags-input-overview( name='{{field}}', ng-if="inputType(field) == 'array'", ng-model='item[field]' )
            auto-complete(source="loadTags($query)")

        //- Date
        input( name='{{field}}', type="date", ng-if="inputType(field) == 'date'", ng-init='toDateObject(field);' , ng-model='item[field]', ng-required="__joi.computed[field]._flags.presence" )

    .muted.right.itemInfo( ng-if='item.updatedAt || item.updatedBy' )
        | {{ 'lastUpdate:itemInfo' | translate }}
        span(ng-if='item.updatedAt')
            | &nbsp;{{ item.updatedAt | localize }}
        span(ng-if='item.updatedBy')
            | &nbsp;{{'by:iteminfo'|translate}}
            | &nbsp;{{ item.updatedBy.firstName }}
            | &nbsp;{{ item.updatedBy.lastName }}
    .muted.right.itemInfo( ng-if='!item.updatedAt && !item.updatedBy' )
        span(ng-if='item.createdAt || item.createdBy')
            | {{ 'createdAt:itemInfo' | translate }}
            span(ng-if='item.createdAt')
                | &nbsp;{{ item.createdAt | localize }}
            span(ng-if='item.createdBy')
                | &nbsp;{{'by:iteminfo'|translate}}
                | &nbsp;{{ item.createdBy.firstName }}
                | &nbsp;{{ item.createdBy.lastName }}

    span.saved( ng-if=' item.__saved ' )
        | {{ 'saved:' + $root.__module.name | translate }}
    span.failed( ng-if=' item.__failed ' )
        | {{ 'failed:save:' + $root.__module.name | translate }}
    button(ng-click=' save() ').pull-right.lightButton
        | {{ 'save:' + $root.__module.name + ':button' | translate }}
    button.danger.lightButton.pull-right( ng-click='confirmDeletion()', ng-if=' item._id ' )
        | {{ 'delete:button' | translate }}

.panel( style='margin-top:50px', ng-if= "item.last" )
    .muted.pull-right(ng-if="item.timestamp")
        | {{ item.timestamp | localize }}
    h4 {{ 'last:' + $root.__module.name | translate }}
    table
        tr( ng-repeat=" element in item.last " )
            td
                b {{ element.type + ':mtype' | translate }} &nbsp;
                i {{ element.id }}
                .muted {{ element.timestamp | localize }}
            td.right
                pre
                    | {{ element.value | localize }}
                    | {{ element.unit + ':unit' | translate }}
