//- OLD
    form#filters
        input( type='search', ng-model='$parent.search', placeholder='{{"search:placeholder"|translate}}' )
        select.pull-right( ng-model='$parent.status' )
            option( value='all' ) {{ 'all:status:' + $root.__module.name | translate }}
            option( disabled, value='──────────' ) ──────────
            option( value='' ) {{ 'active:status:' + $root.__module.name | translate }}
            option( value='new' ) {{ 'new:status:' + $root.__module.name | translate }}
            option( value='archived' ) {{ 'archived:status:' + $root.__module.name | translate }}
        span( ng-if='total' ) {{'results:' + $root.__module.name | translate }} {{total}}
        span.loading( ng-if='total === undefined')
            | {{ 'loading:' + $root.__module.name | translate }}

//- Managed
h1.page-title
    | {{ $root.__module.name + ':module:title' | translate }} 
    small {{ $root.__module.name + ':module:title' | translate }}

.m-heading-1.border-green.m-bordered
    h3 DataTables jQuery Plugin
    p
        | DataTables is a plug-in for the jQuery Javascript library. It is a highly flexible tool, based upon the foundations of progressive enhancement, and will add advanced interaction controls to any HTML table.
    p
        | For more info please check out 
        a.btn.red.btn-outline(href='http://datatables.net/', target='_blank') the official documentation

.portlet.light.bordered
    .portlet-title
        .caption.font-dark
            i.icon-settings.font-dark
            span.caption-subject.bold.uppercase  {{ $root.__module.name + ':module:title' | translate }}
        .actions
            .btn-group.btn-group-devided(data-toggle='buttons')
                label.btn.btn-transparent.dark.btn-outline.btn-circle(ng-repeat='(name, config) in $root.__module.config.toolbox', ng-click="openToolbox(name)")
                    input#option1.toggle(type='radio', name='options')
                    | {{ name + ':toolbox:' + $root.__module.name | translate }}
                
    .portlet-body
        .table-toolbar
          .row
            .col-md-6
              .btn-group
                button#sample_editable_1_new.btn.sbold.green(ng-click='openToolbox("add")')
                  | Add New 
                  i.fa.fa-plus
            .col-md-6
              .btn-group.pull-right
                button.btn.green.btn-outline.dropdown-toggle(data-toggle='dropdown')
                  | Tools 
                  i.fa.fa-angle-down
                ul.dropdown-menu.pull-right
                  li
                    a(href='javascript:;')
                      i.fa.fa-print
                      |  Print
                  li
                    a(href='javascript:;')
                      i.fa.fa-file-pdf-o
                      |  Save as PDF
                  li
                    a(href='javascript:;')
                      i.fa.fa-file-excel-o
                      |  Export to Excel

        .dataTables_wrapper.no-footer
            .row
                .col-md-6.col-sm-6
                    label
                        | Show 
                        select.form-control.input-sm.input-xsmall.input-inline(ng-model='$parent.status')
                            option( value='all' ) {{ 'all:status:' + $root.__module.name | translate }}
                            option( disabled, value='──────────' ) ──────────
                            option( value='' ) {{ 'active:status:' + $root.__module.name | translate }}
                            option( value='new' ) {{ 'new:status:' + $root.__module.name | translate }}
                            option( value='archived' ) {{ 'archived:status:' + $root.__module.name | translate }}
                .col-md-6.col-sm-6
                    .dataTables_filter
                        label
                            | {{"search:placeholder"|translate}}: 
                            input.form-control.input-sm.input-small.input-inline( type='search', ng-model='$parent.search', placeholder='' )


            table#sample_1.dataTable.table.table-striped.table-bordered.table-hover.table-checkable.order-column(scroll='scroll')
                thead
                    tr
                        th.sorting_disabled
                            label.mt-checkbox.mt-checkbox-single.mt-checkbox-outline
                                input.group-checkable(type='checkbox', data-set='#sample_1 .checkboxes')
                                span
                        th.sorting(ng-repeat='column in columns', ng-click='orderBy(column)', ng-class='{ "sorting_asc": (sorting.col == column && sorting.order == "asc"), "sorting_desc": (sorting.col == column && sorting.order == "desc") }')
                            |  {{ column + ':' + $root.__module.name + ':' + 'column' | translate }} 
                        th.sorting_disabled  Actions 
                tbody
                    tr.odd.gradeX(ng-repeat='row in data')
                        td
                            label.mt-checkbox.mt-checkbox-single.mt-checkbox-outline
                                input.checkboxes(type='checkbox', value='1')
                                span
                        td( ng-repeat='column in columns')
                            span( ng-if='row[ column ] !== undefined && column === "icon"')
                                i(class="{{row[ column ]}}")
                            span( ng-if='row[ column ] !== undefined && column != "_id" && column != "icon"', title="{{(row[ column ]._id)?row[ column ]._id:row[ column ]}}" )
                                | {{ row[ column ] | localize }}
                            em( ng-if='column == "_id"')
                                | {{ row[ column ] }}
                        td
                            .btn-group
                                button.btn.btn-xs.green.dropdown-toggle(type='button', data-toggle='dropdown', aria-expanded='false')
                                    | Actions 
                                    i.fa.fa-angle-down
                                ul.dropdown-menu(role='menu')
                                    li
                                        a(href='javascript:;')
                                            i.icon-docs
                                            |  New Post
                                    li
                                        a(href='javascript:;')
                                            i.icon-tag
                                            |  New Comment
                                    li
                                        a(href='javascript:;')
                                            i.icon-user
                                            |  New User
                                    li.divider  
                                    li
                                        a(href='javascript:;')
                                            i.icon-flag
                                            |  Comments
                                            span.badge.badge-success 4

//ng-include.details( ng-class='{detailed:__id}', src="$root.__module.subview || 'generic/details.pug'" )

