table
    thead: tr
        th(ng-repeat='column in columns', ng-click='orderBy(column)')
            | {{ column + ':' + __module.name + ':' + 'column'}}
    tbody
        tr(ng-repeat='row in data')
            td(ng-repeat='column in columns')
                span(ng-if='row[ column ] !== undefined')
                    | {{ row[ column ] }}
                span(ng-if='row[ column ] === undefined')
                    | null
