//- OLD
    form#filters
        input( type='search', ng-model='$parent.search', placeholder='{{"search:placeholder"|translate}}' )
        select.pull-right( ng-model='$parent.status' )
            option( value='all' ) {{ 'all:status:' + $root.__module.name | translate }}
            option( disabled, value='──────────' ) ──────────
            option( value='' ) {{ 'active:status:' + $root.__module.name | translate }}
            option( value='new' ) {{ 'new:status:' + $root.__module.name | translate }}
            option( value='archived' ) {{ 'archived:status:' + $root.__module.name | translate }}
        span( ng-if='total' ) {{'results:' + $root.__module.name | translate }} {{total}}
        span.loading( ng-if='total === undefined')
            | {{ 'loading:' + $root.__module.name | translate }}

//- Managed
.portlet.light.bordered
    .portlet-title
        .caption.font-dark
            i.icon-settings.font-dark
            span.caption-subject.bold.uppercase  {{ $root.__module.name + ':module:title' | translate }}
        .actions
            .btn-group.btn-group-devided(data-toggle='buttons')
                label.btn.btn-transparent.dark.btn-outline.btn-circle(ng-repeat='(name, config) in $root.__module.config.toolbox', ng-click="openToolbox(name)")
                    input#option1.toggle(type='radio', name='options')
                    | {{ name + ':toolbox:' + $root.__module.name | translate }}
                
    .portlet-body
        .table-toolbar
          .row
            .col-md-6
              .btn-group
                button#sample_editable_1_new.btn.sbold.green(ng-click='openToolbox("add")')
                  | Add New 
                  i.fa.fa-plus
            .col-md-6
              .btn-group.pull-right
                button.btn.green.btn-outline.dropdown-toggle(data-toggle='dropdown')
                  | Tools 
                  i.fa.fa-angle-down
                ul.dropdown-menu.pull-right
                  li
                    a(href='javascript:;')
                      i.fa.fa-print
                      |  Print
                  li
                    a(href='javascript:;')
                      i.fa.fa-file-pdf-o
                      |  Save as PDF
                  li
                    a(href='javascript:;')
                      i.fa.fa-file-excel-o
                      |  Export to Excel


        table#sample_1.table.table-striped.table-bordered.table-hover.table-checkable.order-column
            thead
                tr
                    th
                        label.mt-checkbox.mt-checkbox-single.mt-checkbox-outline
                            input.group-checkable(type='checkbox', data-set='#sample_1 .checkboxes')
                            span
                    th(ng-repeat='column in columns')
                        |  {{ column + ':' + $root.__module.name + ':' + 'column' | translate }} 
                    th  Actions 
            tbody
                tr.odd.gradeX(ng-repeat='row in data')
                    td
                        label.mt-checkbox.mt-checkbox-single.mt-checkbox-outline
                            input.checkboxes(type='checkbox', value='1')
                            span
                    td( ng-repeat='column in columns')
                        span( ng-if='row[ column ] !== undefined && column === "icon"')
                            i(class="{{row[ column ]}}")
                        span( ng-if='row[ column ] !== undefined && column != "_id" && column != "icon"', title="{{(row[ column ]._id)?row[ column ]._id:row[ column ]}}" )
                            | {{ row[ column ] | localize }}
                        em( ng-if='column == "_id"')
                            | {{ row[ column ] }}
                    td
                        .btn-group
                            button.btn.btn-xs.green.dropdown-toggle(type='button', data-toggle='dropdown', aria-expanded='false')
                                | Actions 
                                i.fa.fa-angle-down
                            ul.dropdown-menu(role='menu')
                                li
                                    a(href='javascript:;')
                                        i.icon-docs
                                        |  New Post
                                li
                                    a(href='javascript:;')
                                        i.icon-tag
                                        |  New Comment
                                li
                                    a(href='javascript:;')
                                        i.icon-user
                                        |  New User
                                li.divider  
                                li
                                    a(href='javascript:;')
                                        i.icon-flag
                                        |  Comments
                                        span.badge.badge-success 4




//- Scroller
    #sample_1.dataTables_wrapper.no-footer
        .row
            .col-md-6.col-sm-6
                #sample_1_filter.dataTables_filter
                    label
                        | Search:
                        input.form-control.input-sm.input-small.input-inline(type='search', ng-model='$parent.search', placeholder='{{""|translate}}', aria-controls='sample_1')
            .col-md-6.col-sm-6
                label
                    | Show 
                    select.form-control.input-sm.input-xsmall.input-inline(ng-model='$parent.status', name='sample_1_length', aria-controls='sample_1')
                        option( value='all' ) {{ 'all:status:' + $root.__module.name | translate }}
                        option( disabled, value='──────────' ) ──────────
                        option( value='' ) {{ 'active:status:' + $root.__module.name | translate }}
                        option( value='new' ) {{ 'new:status:' + $root.__module.name | translate }}
                        option( value='archived' ) {{ 'archived:status:' + $root.__module.name | translate }}


    table#sample_2.table.table-striped.table-bordered.table-hover.order-column
      thead
        tr
          th ID
          th First name
          th Last name
          th ZIP / Post code
          th Country


    .table-scrollable
        .dataTables_scroll
            .dataTables_scrollHead
                .dataTables_scrollHeadInner
                    table.table.table-striped.table-bordered.table-hover.table-checkable.order-column.dataTable.no-footer(role='grid')
                        thead: tr(role='row')
                            th.sorting_disabled
                                label.mt-checkbox.mt-checkbox-single.mt-checkbox-outline
                                    input.group-checkable(type='checkbox', data-set='#sample_1 .checkboxes')
                                    span
                            th.sorting( ng-repeat='column in columns', ng-click='orderBy(column)', ng-class='{ "sorting_asc": (sorting.col == column && sorting.order == "asc"), "sorting_desc": (sorting.col == column && sorting.order == "desc") }' )
                                | {{ column + ':' + $root.__module.name + ':' + 'column' | translate }}
                            th  Actions
            .dataTables_scrollBody
                table#sample_1.table.table-striped.table-bordered.table-hover.table-checkable.order-column.dataTable.no-footer(role='grid', aria-describedby='sample_1_info')
                        thead: tr(role='row')
            tbody
                tr.odd.gradeX( role='row' ng-repeat='row in data', ng-click='select(row._id)', ng-class=' { active: row._id == __id, danger: isTOut(row) } ' )
                    td
                        label.mt-checkbox.mt-checkbox-single.mt-checkbox-outline
                            input.checkboxes(type='checkbox', value='1')
                            span
                    td.sorting_1( ng-repeat='column in columns')
                        span( ng-if='row[ column ] !== undefined && column === "icon"')
                            i(class="{{row[ column ]}}")
                        span( ng-if='row[ column ] !== undefined && column != "_id" && column != "icon"', title="{{(row[ column ]._id)?row[ column ]._id:row[ column ]}}" )
                            | {{ row[ column ] | localize }}
                        em( ng-if='column == "_id"')
                            | {{ row[ column ] }}
                    td
                        .btn-group
                            button.btn.btn-xs.green.dropdown-toggle(type='button', data-toggle='dropdown', aria-expanded='false')
                                | Actions
                                i.fa.fa-angle-down
                            ul.dropdown-menu(role='menu')
                                li
                                    a(href='javascript:;')
                                        i.icon-docs
                                        |  New Post
                                li
                                    a(href='javascript:;')
                                        i.icon-tag
                                        |  New Comment
                                li
                                    a(href='javascript:;')
                                        i.icon-user
                                        |  New User
                                li.divider  
                                li
                                    a(href='javascript:;')
                                        i.icon-flag
                                        |  Comments
                                        span.badge.badge-success 4
    .row
        .col-md-12
            #sample_2_info.dataTables_info(ng-if="total", role='status', aria-live='polite') Showing 1 to {{total}} of {{total}} entries

        // .noData( ng-if='total === 0' )
            | {{ 'nodata:' + $root.__module.name | translate}}

//ng-include.details( ng-class='{detailed:__id}', src="$root.__module.subview || 'generic/details.pug'" )

