//- OLD
    form#filters
        input( type='search', ng-model='$parent.search', placeholder='{{"search:placeholder"|translate}}' )
        select.pull-right( ng-model='$parent.status' )
            option( value='all' ) {{ 'all:status:' + $root.__module.name | translate }}
            option( disabled, value='──────────' ) ──────────
            option( value='' ) {{ 'active:status:' + $root.__module.name | translate }}
            option( value='new' ) {{ 'new:status:' + $root.__module.name | translate }}
            option( value='archived' ) {{ 'archived:status:' + $root.__module.name | translate }}
        span( ng-if='total' ) {{'results:' + $root.__module.name | translate }} {{total}}
        span.loading( ng-if='total === undefined')
            | {{ 'loading:' + $root.__module.name | translate }}

//- Managed
h1.page-title(style="margin-top:0")
    | {{ $root.__module.name + ':module:title' | translate }} 
    small {{ $root.__module.name + ':module:title' | translate }}

.m-heading-1.border-green.m-bordered(ng-if='message')
    h3 DataTables jQuery Plugin
    p
        | DataTables is a plug-in for the jQuery Javascript library. It is a highly flexible tool, based upon the foundations of progressive enhancement, and will add advanced interaction controls to any HTML table.
    p
        | For more info please check out 
        a.btn.red.btn-outline(href='http://datatables.net/', target='_blank') the official documentation

.portlet.light.bordered(ng-class="__id ? 'col-lg-7 visible-lg-block' : 'col-lg-12'")
    .portlet-body
        .dataTables_wrapper.no-footer.DTS
            .row
                .col-md-5.col-sm-5
                    label
                        | Show 
                        select.form-control.input-inline(ng-model='$parent.status')
                            option( value='all' ) {{ 'all:status:' + $root.__module.name | translate }}
                            option( disabled, value='──────────' ) ──────────
                            option( value='' ) {{ 'active:status:' + $root.__module.name | translate }}
                            option( value='new' ) {{ 'new:status:' + $root.__module.name | translate }}
                            option( value='archived' ) {{ 'archived:status:' + $root.__module.name | translate }}
                .col-md-5.col-sm-5
                    .form-group
                        label
                            | {{"search:placeholder"|translate}} 
                            input.form-control.input-inline( type='search', ng-model='$parent.search', placeholder='')
                .col-md-2.col-sm-2
                    .btn-group.pull-right
                        button.btn.green.btn-outline.dropdown-toggle(data-toggle='dropdown')
                            | Tools 
                            i.fa.fa-angle-down
                        ul.dropdown-menu.pull-right
                            li
                                a(href='javascript:;')
                                i.fa.fa-print
                                |  Print
                            li
                                a(href='javascript:;')
                                i.fa.fa-file-pdf-o
                                |  Save as PDF
                            li
                                a(href='javascript:;')
                                i.fa.fa-file-excel-o
                                |  Export to Excel

            .table-scrollable(scroll='scroll')
                .dataTables_scroll(style='overflow: hidden;')
                    .dataTables_scrollHead(style='overflow: hidden;')
                        .dataTables_scrollHeadInner
                            table.table.table-striped.table-bordered.table-hover.order-column.dataTable.no-footer(style='padding-right: 17px;')
                                thead
                                    tr
                                        th.sorting_disabled
                                            label.mt-checkbox.mt-checkbox-single.mt-checkbox-outline
                                                input.group-checkable(type='checkbox')
                                                span
                                        th.sorting(ng-repeat='column in columns track by $index', ng-click='orderBy(column)', ng-class='{ "sorting_asc": (sorting.col == column && sorting.order == "asc"), "sorting_desc": (sorting.col == column && sorting.order == "desc") }')
                                            |  {{ column + ':' + $root.__module.name + ':' + 'column' | translate }} 
                                        th.sorting_disabled  Actions 

                    .dataTables_scrollBody(style="overflow: auto;", ng-style="{'height': listHeight}")
                        table.table.table-striped.table-bordered.table-hover.order-column.dataTable.no-footer(style='border-top:0;')
                            thead
                                tr(style='height: 0px; padding:0;')
                                    th(style='height: 0px; padding:0;')
                                        .dataTables_sizing
                                    th(ng-repeat='column in columns', style='height: 0px; padding:0;')
                                        .dataTables_sizing
                                    th(style='height: 0px; padding:0;')
                                        .dataTables_sizing
                            tbody
                                tr.odd.gradeX(ng-repeat='row in data', ng-click='select(row._id)')
                                    td
                                        label.mt-checkbox.mt-checkbox-single.mt-checkbox-outline
                                            input.checkboxes(type='checkbox', value='1')
                                            span
                                    td( ng-repeat='column in columns')
                                        span(ng-if='row[ column ] !== undefined && row[ column ] !== null && column === "icon"')
                                            i(class="{{row[ column ]}}")
                                        span(ng-if='row[ column ] !== undefined && row[ column ] !== null && column != "_id" && column != "icon"', title="{{(row[ column ]._id)?row[ column ]._id:row[ column ]}}" )
                                            | {{ row[ column ] | localize }}
                                        em( ng-if='column == "_id"')
                                            | {{ row[ column ] }}
                                    td
                                        .btn-group(style='position: relative;')
                                            button.btn.btn-xs.green.dropdown-toggle(type='button', data-toggle='dropdown', aria-expanded='false')
                                                | Actions 
                                                i.fa.fa-angle-down
                                            ul.dropdown-menu(role='menu')
                                                li
                                                    a(href='javascript:;')
                                                        i.icon-docs
                                                        |  New Post
                                                li
                                                    a(href='javascript:;')
                                                        i.icon-tag
                                                        |  New Comment
                                                li
                                                    a(href='javascript:;')
                                                        i.icon-user
                                                        |  New User
                                                li.divider  
                                                li
                                                    a(href='javascript:;')
                                                        i.icon-flag
                                                        |  Comments
                                                        span.badge.badge-success 4
            .row
                .col-md-5.col-sm-12
                    .dataTables_info(ng-if='filtered > 0')
                        | Showing {{ first }} to {{ last }} of {{ filtered }} records
                    .dataTables_info(ng-if='filtered <= 0')
                        | No data found

ng-include.col-lg-5(ng-if='__id', src="$root.__module.subview || 'generic/details.pug'")