form( ng-submit='' )
    div( ng-repeat=' field in fields ', ng-class="{ error: __validation.indexOf(field) !==-1 }", ng-if="inputVisible" )
        label( for='{{field}}', ng-class="{ required: __joi.computed[field]._flags.presence == 'required' }" )
            | {{ field + ':field' | translate }}

        //- Unknown => Read only
        input( name='{{field}}', ng-if="inputType(field) == 'readOnly'", ng-value='item[field] | localize', readonly )
        input( name='{{field}}', ng-if="inputType(field) == 'readOnlyName'", ng-value='item[field].name', readonly )
        input( name='{{field}}', ng-if="inputType(field) == 'readOnly_Id'", ng-value='item[field]._id', readonly )
        input( name='{{field}}', ng-if="inputType(field) == 'readOnlyId'", ng-value='item[field].id', readonly )

        //- _id
        input( name='{{field}}', ng-if="inputType(field) == 'id'", ng-value='item[field]', readonly )

        //- Numbers (with or without units)
        input( name='{{field}}', ng-if="inputType(field) == 'number'", ng-model='item[field]', type="number" )
        span.unit( ng-if="inputType(field) == 'unit'" )
            input( name='{{field}}', ng-model='item[field]', type="number" )
            span {{ __joi.computed[field]._unit + ':unit' | translate }}

        //- Strings
        input( name='{{field}}', ng-if="inputType(field) == 'string'", ng-model='item[field]' )

        //- Passwords
        input( name='{{field}}', ng-if="inputType(field) == 'password'", ng-model='item[field]', type="password" )

        //- Enums
        select( name='{{field}}', ng-if="inputType(field) == 'enum'", ng-model='item[field]' )
            option( ng-repeat=' opt in __joi.computed[field]._valids._set ', value='{{opt}}' ) {{ opt + ':' + label + ':option' | translate }}

        //- Textareas
        textarea( name='{{field}}', ng-if="inputType(field) == 'textarea'", ng-model='item[field]' )

        //- Boolean
        input( name='{{field}}', type="checkbox", ng-if="inputType(field) == 'boolean'", ng-model='item[field]' )

        //- Tags
        tags-input.tags-input-overview( name='{{field}}', ng-if="inputType(field) == 'array'", ng-model='item[field]' )
            auto-complete(source="loadTags($query)")

    .muted.itemInfo( ng-if='item.updatedAt || item.updatedBy' )
        span(ng-if='item.updatedBy') {{ 'lastUpdateBy:iteminfo' | translate }} {{item.updatedBy}}
        span(ng-if='item.updatedAt')
            span(ng-if='item.updateBy') &nbsp;{{'at:iteminfo'|translate}}
            span(ng-if='!item.updateBy') {{'lastUpdateAt:iteminfo'|translate}}
            | &nbsp;{{ item.updatedAt | localize }}
    .muted.itemInfo( ng-if='!item.updatedAt && !item.updatedBy' )
        span(ng-if='item.createdBy') {{ 'createdBy:iteminfo' | translate }} {{item.createdBy}}
        span(ng-if='item.createdAt')
            span(ng-if='item.createdBy') {{'at:iteminfo'|translate}}
            span(ng-if='!item.createdBy') {{'createdAt:iteminfo'|translate}}
            | {{ item.updatedAt | date }}

    span.saved( ng-if=' item.__saved ' )
        | {{ 'saved:' + $root.__module.name | translate }}
    span.failed( ng-if=' item.__failed ' )
        | {{ 'failed:save:' + $root.__module.name | translate }}
    button(ng-click=' save() ').pull-right.lightButton
        | {{ 'save:' + $root.__module.name + ':button' | translate }}
