div(ng-controller='generic/overview')
    ng-include.row( src='"generic/form.pug"' )

    .col-xs-12
        .btn-toolbar.pull-right
            button.btn.btn-sm.red( ng-click='confirmDeletion()', ng-if=' !!confirmDeletion ' )
                | {{ 'delete:button' | translate }}
            button.btn.btn-sm.custom( ng-click=' save() ', ng-if="!disableSaveBTN", ng-disabled="$root.role.permissions.APP[$root.__appName][$root.__module.name]!='rw'&&$root.user.role.length==24")
                | {{ 'save:' + $root.__module.name + ':button' | translate }}
    //-
    .last.col-xs-12(ng-repeat=' button in buttons', ng-if='item._id')
        h4(ng-if="button.title")
          | {{ button.title + ':' + $root.__module.name + ':buttonTitle' | translate }}
        .btn-toolbar.pull-right
                button.btn.btn-sm.custom( ng-click='doBtn(button)' )
                    | {{ button.name + ':' + $root.__module.name + ':button' | translate }}

    .last.col-xs-12(ng-if= "item.last")
        .pull-right
            span(ng-if="item.timestamp") {{ item.timestamp | localize }}

        h4 {{ 'last:' + $root.__module.name | translate }}
        table.table
            tr(ng-repeat="element in item.last")
                td
                    span {{ element.type + ':mtype' | translate }} &nbsp;
                    i {{ element.id }}
                    div {{ element.timestamp | localize }}
                td.text-right {{ element.value | localize }} {{ element.unit + ':unit' | translate }}
