form( ng-submit='' )
    div(ng-repeat=' (label, type) in $root.__module.config.tabs[__view].config ')
        label( for='{{ label }}' ) {{ label + ':field' | translate }}
        input( name='{{ label }}', ng-if=' type=="read" ', ng-model='item[label]', disabled )
        input( name='{{ label }}', ng-if=' type=="readObject" ', ng-model='item[label].name', disabled )
        input( name='{{ label }}', ng-if=' type=="text" ', ng-model='item[label]' )
        input( name='{{ label }}', ng-if=' type=="password" ', ng-model='item[label]' type="password" )
        span.unit( ng-if=' type.unit ' )
            input( name='{{ label }}', ng-model='item[label]', type="number" )
            span {{ type.unit + ':unit' | translate }}
        select( name='{{ label }}', ng-if=' isArray( type ) ', ng-model='item[label]' )
            option( ng-repeat=' opt in type ', value='{{opt}}' ) {{ opt + ':' + label + ':option' | translate }}
        textarea( name='{{ label }}', ng-if=' type=="textarea" ', ng-model='item[label]' )
    span.saved( ng-if=' item.__saved ' )
        | {{ 'saved:' + $root.__module.name | translate }}
    span.failed( ng-if=' item.__failed ' )
        | {{ 'failed:save:' + $root.__module.name | translate }}
    button(ng-click=' save() ').pull-right
        | {{ 'save:' + $root.__module.name + ':button' | translate }}
