//-<input type='time' ng-model='value' ng-change='onChange()' name={{name}} class={{className}}>
div.input-group
    input(type="number" max="23" min="0" ng-model="value.hours")
    input(type="number" max="59" min="0" ng-model="value.minutes")
