//- OLD
    div(ng-controller='devices/history')
        accordion( ng-repeat=' measurement in measurements | orderBy:"timestamp":true ', ng-class=' {open:measurement.$open} ', ng-init=' measurement.$open = !$index ' )
            header(ng-click=' measurement.$open = !measurement.$open ')
                span {{ measurement.timestamp | localize }}
            table.content
                tr( ng-repeat=' data in measurement.measurements ')
                    td
                        b {{ data.type }} &nbsp;
                        i {{ data.id }}
                    td.right
                        pre {{ data.value | localize }} {{ data.unit + ':unit' | translate }}
                tr
                    td
                    td.right
                        pre
                        a(ng-href="measurements/{{measurement._id}}/" class="link") link

div(ng-controller='devices/history')
    .panel-group.accordion
        .panel.panel-default(ng-repeat=' measurement in measurements | orderBy:"timestamp":true ', ng-init=' measurement.$open = !$index ')
            .panel-heading
                h4.panel-title
                    span.accordion-toggle.collapsed(ng-click='measurement.$open = !measurement.$open')
                        | {{ measurement.timestamp | localize }}
            .panel-collapse.collapse(ng-class=' {in:measurement.$open} ')
                .panel-body
                    table.table
                        tr( ng-repeat=' data in measurement.measurements ')
                            td
                                b {{ data.type }} &nbsp;
                                i {{ data.id }}
                            td.text-right {{ data.value | localize }} {{ data.unit + ':unit' | translate }}
                        tr
                            td
                            td.text-right
                                a.btn.btn-outline.green(ng-href="measurements/{{measurement._id}}/")
                                    i.fa.fa-link
                                    |  link

