div(ng-controller="gaugeCtrl")
  fieldset.form-group()
      span
          input.form-control(type="text",ng-model="search", placeholder="search")
          select.form-control(ng-model="widget.deviceId",id="widget.deviceId", ng-change="selectDevice(widget.deviceId)")
              option(ng-repeat="device in devicesData | filter:search") {{ device._id }}
          select.form-control(ng-model="widget.measurementType",id="widget.measurementType")
              option(ng-repeat="measurement in selectedDevice.last") {{ measurement.type }}
          button(ng-click="addDevice()") {{ '+' }}

      table(class="table-condensed tableModalWidget")
              thead
                  tr
                      th Device
                      th Data
                      th Value
                      th Ticks
                      th Min
                      th Max
                      th Yellow
                      th Yellow
                      th Red
                      th Red
                  tr
                      th
                      th
                      th
                      th
                      th
                      th
                      th
                          span.miniTitle
                              | from
                      th
                          span.miniTitle
                              | to
                      th
                          span.miniTitle
                              | from
                      th
                          span.miniTitle
                              | to
              tbody
                  tr
                      td
                          span.modalInputWidget
                              | {{ widget.device.id }}
                      td
                          span.modalInputWidget
                              | {{ widget.device.type }}
                      td
                          span.modalDataPointGauge
                              | {{ widget.device.value }}
                      td
                          input.modalDataPointGauge(type="number",ng-model="widget.chartObject.options.minorTicks")
                      td
                          input.modalDataPointGauge(type="number",ng-model="widget.chartObject.options.min")
                      td
                          input.modalDataPointGauge(type="number",ng-model="widget.chartObject.options.max")
                      td
                          input.modalDataPointGauge(type="number",ng-model="widget.chartObject.options.yellowFrom")
                      td
                          input.modalDataPointGauge(type="number",ng-model="widget.chartObject.options.yellowTo")
                      td
                          input.modalDataPointGauge(type="number",ng-model="widget.chartObject.options.redFrom")
                      td
                          input.modalDataPointGauge(type="number",ng-model="widget.chartObject.options.redTo", ng-click="showWidget()")

      .modalButtons
          //- button.btn.btn-primary.pull-right(ng-click="confirm({'widget' : newWidget,'title' : $parent.$parent.widget.title})")
          button.btn.btn-primary.pull-right(ng-click="confirm({'newWidget' : widget,'title' : $parent.$parent.widget.title})")
              | `Apply`