tags-input(ng-model="tags", placeholder="{{'add:arrayInput'|translate}}", template="generic/arrayInput/arrayInputItem.pug", ng-transclude)
    auto-complete(source="autocomplete($query)", ng-if="autocomplete")
