.arrayInputItem(style="background-color:{{data.color}}", class="{{data.collection}}", alt="{{data.text}}", title="{{data.text}}")
    span(ng-if="!data.name") {{data.text}}
    span(ng-if="data.name") {{data.name}}
    span.remove-button(ng-click="$removeTag()", ng-if="data.collection")
        | &times;
