.arrayInputItem(style="background-color:{{data.color}}", class="{{data.collection}}", alt="{{data.raw}}", title="{{data.raw}}")
    | {{data.text}}
    span.remove-button(ng-click="$removeTag()", ng-if="data.collection")
        | &times;
