tags-input.bootstrapCustom(ng-model="tags", placeholder="{{'add:arrayInput'|translate}}", template="generic/arrayInput/arrayInputItem.pug", replace-spaces-with-dashes="false")
    auto-complete(source="loadTags($query)")