//- OLD
    header.router-header
        h1(icon="{{$root.__module.icon}}")
            | {{ $root.__appName + ':application:header' | translate }}
            | &gt;
            | {{ $root.__module.name + ':module:title' | translate }}
        .toolbox
            button( ng-repeat='( name, config ) in $root.__module.config.toolbox', ng-click="openToolbox( name )")
                | {{ name + ':toolbox:' + $root.__module.name | translate }}

    ng-include(src='$root.__module.templateUrl')
    
.page-bar
    ul.page-breadcrumb
        li
            a {{ $root.__appName + ':application:header' | translate }}
            i.fa.fa-circle
        li
            a {{ $root.__module.name + ':module:title' | translate }}

    .page-toolbar
        .btn-group.pull-right
            button.btn.btn-fit-height.grey-salt.dropdown-toggle(type='button', data-toggle='dropdown', data-hover='dropdown', data-delay='1000', data-close-others='true')
                | Actions 
                i.fa.fa-angle-down
            ul.dropdown-menu.pull-right(role='menu')
                li
                    a(href='#') Action
                li
                    a(href='#') Another action
                li
                    a(href='#') Something else here
                li.divider
                li
                    a(href='#') Separated link
                
ng-include(src='$root.__module.templateUrl')
