//- .page-bar
    ul.page-breadcrumb
        li
            a(ng-href="/{{$root.__appName}}") 
                | {{ $root.__appName + ':application:header' | translate }}
            i.fa.fa-circle
        li
            a(ng-click='$root.go($root.__module)') 
                | {{ $root.__module.name + ':module:title' | translate }}
            i.fa.fa-circle(ng-if='item.name')
        li(ng-if='item.name')
            a(ng-click="tab('')")
                | {{ item.name }}
            i.fa.fa-circle(ng-if='__view')
        li(ng-if='__view')
            a {{ __view | translate }}

.row
    .page-toolbar(ng-if="$root.__module.config.toolbox")
        .btn-group.pull-right
            button.btn.btn-sm.btn-outline.custom.dropdown-toggle(type='button', data-toggle='dropdown')
                | {{ 'Actions' | translate }}&nbsp;
                i.fa.fa-angle-down
            ul.dropdown-menu.pull-right(role='menu')
                li(ng-repeat='( name, config ) in $root.__module.config.toolbox', ng-click="openToolbox( name )")
                    a(href='#')
                        i.icon-bell 
                        |  {{ name + ':toolbox:' + $root.__module.name | translate }}

        
    ng-include(src='$root.__module.templateUrl')
