br
br
form

    label(for="varName")
        | {{ 'varName:' + $root.__module.name + ':field' | translate }}
    input#varName( type="text", ng-class='{error: badName(varName)}', ng-model='$parent.input.varName')

    label(for="device")
        | {{ 'device:' + $root.__module.name + ':field' | translate }}
    span.unit( readonly, ng-click="$parent.tabview='devices'" )
        input#device(value="{{ $parent.input.device.name }}")
        span {{'clickToSelect:mathformula'|translate}}

    label(for="type")
        | {{ 'type:' + $root.__module.name + ':field' | translate }}
    select#type(ng-disabled=' !$parent.input.device ')
        option(ng-repeat='type in $parent.input.device.types', ng-value='type') {{type}}

    label(for="time")
        | {{ 'time:' + $root.__module.name + ':field' | translate }}
    input#time(readonly, value="last")

    label(for="curVal")
        | {{ 'currentValue:' + $root.__module.name + ':field' | translate }}
    input#curVal(readonly, value="")

    button(ng-click=' confirm( $parent.input ) ').pull-right.lightButton
        | {{ 'addInput:' + $root.__module.name + ':button' | translate }}
