.filters
    .toggles
        span( ng-repeat='(filterKey, filterState) in $parent.filters', ng-click=' $parent.filters[ filterKey ] = !filterState', ng-class=' {active: filterState} ' )
            | {{ filterKey + ':filter:mathformula' | translate }}
    input( placeholder=" {{ 'search:mathformula' | translate }} ", ng-model="$parent.search" )

.results.list(style="position:static;max-height:50vh;overflow:auto")
    table
        thead: tr
            th {{ 'kind:column:mathformula' | translate }}
            th {{ 'name:column:mathformula' | translate }}
            th {{ 'measurementTypes:column:mathformula' | translate }}
        tbody
            tr(ng-repeat='result in results|orderBy:"name"', ng-click='selectResult(result)', ng-class='{active: $parent.input.device == result}')
                td {{ result.kind }}
                td {{ result.name }}
                td
                    span( ng-repeat="t in result.types.slice(0,3)" )
                        | {{ t[0] }} ( {{t[1]}} )&nbsp;
                    em(ng-if="result.types.length > 3")
                        | {{'and:mathformula'|translate}}&nbsp;
                        | {{result.types.length - 3}}&nbsp;
                        | {{'others:mathformula'|translate}}
    span.muted(ng-if=' $parent.results.length === 0 ')
        | {{ 'nodata:results:mathformula'| translate }}
