.filters
    .toggles( style="width:40%;display:inline-block" )
        span( ng-repeat='(filterKey, filterState) in $parent.filters', ng-click=' filterState = !filterState', ng-class=' {active: filterState} ' )
            | {{ filterKey + ':filter:mathformula' | translate }}
    input( placeholder=" {{ 'search:mathformula' | translate }} ", ng-model="$parent.search" style="width:60%;display:inline-block" )

.results.list(style="position:static")
    table
        thead: tr
            th {{ 'kind:column:mathformula' | translate }}
            th {{ 'name:column:mathformula' | translate }}
            th {{ 'measurementTypes:column:mathformula' | translate }}
        tbody
            tr(ng-repeat='result in results',ng-click='$parent.input.device = result')
                td {{ result.kind }}
                td {{ result.name }}
                td {{ result.types.join(', ') }}
    span.muted(ng-if=' $parent.results && !$parent.results.length ')
        | {{ 'nodata:results:mathformula'| translate }}
