.filters
    .toggles
        span.active
            | {{ 'tags:filter:mathformula' | translate }}
    input( placeholder=" {{ 'search:mathformula' | translate }} ", ng-model="$parent.search" )

.results.list(style="position:static;max-height:50vh;overflow:auto")
    table
        thead: tr
            th {{ 'kind:column:mathformula' | translate }}
            th {{ 'name:column:mathformula' | translate }}
            th {{ 'measurementTypes:column:mathformula' | translate }}
        tbody
            tr(ng-repeat='result in results|orderBy:"name"', ng-click='selectTag(result)', ng-class='{active: $parent.input.device == result}', ng-if='result.kind=="tag"')
                td {{ result.kind }}
                td {{ result.name }}
                td {{ result.types[0][0] }}&nbsp;
                    em(ng-if="result.types.length > 1")
                        | {{'and:mathformula'|translate}}&nbsp;
                        | {{result.types.length - 1}}&nbsp;
                        | {{'others:mathformula'|translate}}
    span.muted(ng-if=' $parent.results.length === 0 ')
        | {{ 'nodata:results:mathformula'| translate }}
