.mvTitleBar {
	padding: 10px;
	border: 1px solid #6394bc;

	i.mvTitleIcon {
		font-size: 1.4em;
	}

	span.mvTitle {
		font-size: 1.4em;
		font-weight: bold;
	}
}

.mvActionsBar {
	padding-top: 7px;
	padding-bottom: 10px;

	.actionCol {
		button {
			background-color: rgba(99, 148, 188, 0.1);
			color: #6394bc;
			text-shadow: none;

			&:hover {
				background-color: #daeaf9;
			}
		}

		padding-right: 5px;
		display: inline-block;

        input[type=radio] {
            visibility: hidden;
            position: absolute;
        }
	}

	.searchContainer {
		margin-top: -11px;
	}
}

.mvTreeView {
	min-height: 300px;
	border: none;
	background-color: white;
}

#mvAddEntityBtn,
.mvAddEntityBtn {
	position: absolute;
	top: 15px !important;
	right: 15px !important;
}

.filePickerRow > * {
	margin-bottom: -15px;
}

.filePickerRow {
	span {
		display: inline-block;
		height: 32px;
		vertical-align: middle;
		padding-top: 14px;
		width: 181px;
		text-align: right;
	}

	.filePicker {
		display: inline-block;
		margin-left: 10px;

		label {
			width: 100%;
		}
	}
}

.fileUploader > label {
	background-color: transparent;
	margin-top: 10px;

	&:hover {
		background-color: transparent;
	}
}

.fileUploader {
	.clearFile {
		background-color: transparent !important;
		margin-top: 10px;

		&:hover {
			background-color: transparent !important;
		}
	}
}

multi-view .col-md-6 {
  margin: 0;
}

.mvTitleBar {
  padding: 10px;
  border: 1px solid #ccc;
}
.mvTitleBar i.mvTitleIcon {
  font-size: 1.4em;
}
.mvTitleBar span.mvTitle {
  font-size: 1.4em;
  font-weight: bold;
}

.mvActionsBar {
  padding-top: 10px;
  padding-bottom: 10px;
}
.mvActionsBar .actionCol {
  padding-left: 5px;
  padding-right: 5px;
}

.mvTreeView {
  border: 1px solid #ccc;
  min-height: 200px;
}

	.noHeaderRow {
		.dataTables_filter, .dataTables_length {
			display: none;
		}
	}

	.dataTables_wrapper .dataTables_paginate .paginate_button{
		background: $white;
		color: $main_color_asset !important;
		padding: 10px;
		border: 0px;
		margin: 0px;
		margin-right: 13px;
		margin-top: 8px;
	}
	.dataTables_wrapper .dataTables_paginate .paginate_button:active{
		padding: 10px;
		border: 0px;
		margin: 0px;
		margin-right: 13px;
		margin-top: 8px;
	}
	.dataTables_wrapper .dataTables_paginate .paginate_button:hover{
		padding: 10px;
		border: 0px;
		margin: 0px;
		cursor: pointer;
		margin-right: 13px;
		margin-top: 8px;
	}
	.dataTables_wrapper .dataTables_paginate .paginate_button.disabled {
		padding: 10px;
		border: 0px;
		margin: 0px;
		margin-right: 13px;
		margin-top: 8px;
	}
	.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover {
		padding: 10px;
		border: 0px;
		margin: 0px;
		cursor: pointer;
		margin-right: 13px;
		margin-top: 8px;
	}
	.dataTables_wrapper .dataTables_paginate .paginate_button.current,
	.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
		border: 0px;
		padding: 10px;
		border: 0px;
		margin: 0px;
	}

	table.dataTable,
	table.dataTable.no-footer {
		margin: -10px;
	}
	.dataTables_wrapper .dataTables_paginate {
		float: none;
	}
	.dataTables_wrapper .dataTables_info {
		margin-left: 0px;
	}