.custom_dataTables_scrollBody table tr{
  background-color: white;
}

.custom_dataTables_scrollBody table thead tr th{
  background-color: inherit;
}

.custom_dataTables_scrollBody .table.table-bordered thead tr th{
  border-top: 1px solid #DDD;
  border-bottom: 1px solid #DDD !important;
}

.custom_dataTables_scrollBody table.dataTable{
  margin-top: 0px !important;
}

.custom_dataTables_scrollBody table.dataTable.table-bordered{
  border-top: none;
}

table.table {
    margin-bottom: 0;
}

.dataTables_scrollHead table.table.table-striped.table-bordered.order-column.dataTable.no-footer {
    // vertical scrollbar
    padding-right: 17px;
    thead tr th {
        //font-size: 13px;
    }
}

.dataTables_scrollBody table.table.table-striped.table-bordered.order-column.dataTable.no-footer {
    border-top: 0;
    thead tr, thead tr th {
        padding: 0;
    }
    tbody tr {
        cursor: pointer;

        // Actions dropdown
        td .btn-group {
            position: relative;
        }
    }
}

.table > tbody > tr > td {
    vertical-align: middle;
}
