.list {
    position: fixed;
    left: $gutter + $sidebar_width;
    right: $gutter;
    top: $gutter*2 + $header_height + $topnav_height;
    bottom: $gutter;
    overflow: auto;
    box-sizing: border-box;
    transition: right 0.3s ease-out;
    table {
        display: inline-table;
        width: 100%;
        border-collapse: collapse;
        transition: all 0.3s ease-out;
        thead th {
            background: $table_header_bg;
            position: relative;
            transition: top 0.01s ease-out;
            text-align: left;
            &.desc::after {
                content: 'ꜛ';
            }
            &.asc::after {
                content: 'ꜜ';
            }
        }
        td,
        th {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            padding: $gutter/2;
        }
        tbody {
            tr:nth-child(even) {
                background: $table_even_bg;
            }
            tr.active {
                background: $table_active_bg;
            }
            tr:hover {
                background: $table_hover_bg;
            }
        }
    }
    @media( max-width: $mobile_break ) {
        left: $gutter;
        width: auto;
    }
    &.detailed {
        right: $gutter*2 + 500px;
        @media( max-width:1200px ) {
            display: none;
            //left: $sidebar_width_collapsed + $gutter;
        }
    }
    #filters > * {
        display: inline-block;
        width: 33%;
    }
}
ng-include.details {
    overflow: hidden;
    position: fixed;
    display: block;
    box-sizing: border-box;
    right: $gutter;
    width: 500px;
    top: $gutter*2 + $header_height + $topnav_height;
    bottom: $gutter;
    transform: translateX(600px);
    transition: transform 0.3s ease-out;
    &.detailed {
        transform: translateX(0);
        @media( max-width:1024px ) {
            //left: $sidebar_width + $gutter;
            width: auto;
        }
        @media( max-width: $mobile_break ) {
            left: $gutter;
            width: auto;
        }
    }
    &>ng-include{
        overflow-y: auto;
        display: block;
        position: absolute;
        top: 40px;
        left: 0;
        right: 0;
        bottom: 0;
    }
}
@media( min-width:$mobile_break + 1 ) {
    body.collapsed {
        .list {
            left: $sidebar_width_collapsed + $gutter;
        }
    }
}

table {
    width: 100%;
}
