h3 {{ 'edit:PictureWidget' | translate }}
label {{ 'title:widget:label' | translate }}
input(ng-model="widget.title")

label {{ 'url:picture:dashboard' | translate }}
input(type="text", ng-model="widget.options.url", required)

label {{ 'sizing:picture:dashboard' | translate }}
select(ng-model="widget.options.size", required)
    option(value='cover') {{'cover:picture:widget'|translate}}
    option(value='contain') {{'contain:picture:widget'|translate}}
    option(value='100%') {{'fullSize:picture:widget'|translate}}

div.pull-right(class="ngdialog-buttons")
    button.lightButton.pull-right(ng-click="closeThisDialog()")
        | {{ 'Cancel:dashboard' | translate }}
    button.lightButton.pull-right(ng-click="confirm(widget)")
        | {{ 'Confirm:dashboard' | translate }}
