.modal-header
    h4.modal-title {{ 'edit:PictureWidget' | translate }}

.modal-body
    form.form-horizontal
        .form-body
            .form-group
                label.col-md-3.control-label {{ 'title:widget:label' | translate }}
                .col-md-9
                    input.form-control(ng-model="widget.title")
            .form-group
                label.col-md-3.control-label {{ 'url:picture:dashboard' | translate }}
                .col-md-9
                    input.form-control(type="text", ng-model="widget.options.url", required)
            .form-group
                label.col-md-3.control-label {{ 'sizing:picture:dashboard' | translate }}
                .col-md-9
                    select.form-control(ng-model="widget.options.size", required)
                        option(value='cover') {{'cover:picture:widget'|translate}}
                        option(value='contain') {{'contain:picture:widget'|translate}}
                        option(value='100%') {{'fullSize:picture:widget'|translate}}

.modal-footer
    button.btn.btn-sm.default(ng-click="closeThisDialog()")
        | {{ 'Cancel:dashboard' | translate }}
    button.btn.btn-sm.custom(ng-click="confirm(widget)")
        | {{ 'Confirm:dashboard' | translate }}
