div(ng-controller="dashboard/widgets/picture/view", style="width:100%;height:100%;background-image:url({{trustUrl(widget.options.url)}});background-repeat:no-repeat;background-position:center center;background-size:{{widget.options.size||'contain'}}")
