// Fonts
$simple-line-font-path: "/__assets/fonts/";
$fa-font-path: "/__assets/fonts/";

// Images
$global-img-path: "/__assets/img/";
$page-img-path: "/__assets/img/";
$layout-img-path: "/__assets/img/";
