//- OLD
    a(ng-repeat='module in $root.__modules', ng-click='go(module)', ng-if='!module.hidden && ($root.role.permissions.APP[$root.__appName][module.name] || $root.user.role === "SUPER" )', ng-class="{ active: module.name == $root.__module.name, disabled: module.disabled } ", icon="{{module.icon}}")
        | {{ module.name + ':module:sidebar' | translate }}

    
    
.page-sidebar-wrapper
    .page-sidebar.navbar-collapse.collapse
    
        ul.page-sidebar-menu.page-header-fixed.hidden-sm.hidden-xs(data-auto-scroll='true', data-slide-speed='200')
            li.sidebar-toggler-wrapper
                .sidebar-toggler.hide
            li(ng-repeat='module in $root.__modules', ng-click='go(module)', ng-if='!module.hidden && ($root.role.permissions.APP[$root.__appName][module.name] || $root.user.role === "SUPER" )', ng-class="{ active: module.name == $root.__module.name, disabled: module.disabled } ")
                a
                    i(class='{{module.icon}}')
                    span.title  {{ module.name + ':module:sidebar' | translate }}
                    span.selected

        .page-sidebar-wrapper
            ul.page-sidebar-menu.visible-sm.visible-xs.page-header-fixed(data-auto-scroll='true', data-slide-speed='200')
                li.nav-item(ng-repeat='app in apps', ng-class="{active:(app==current)}", ng-click='select(app)', ng-if=' $root.role.permissions.APP[ app ] || $root.user.role == "SUPER" ')
                    a.nav-link.nav-toggle {{ app + ':application' | translate }}
                    ul.sub-menu(ng-if='app==current')
                        li.nav-item(ng-repeat='module in $root.__modules', ng-click='go(module)', ng-if='!module.hidden && ($root.role.permissions.APP[$root.__appName][module.name] || $root.user.role === "SUPER" )', ng-class="{ active: module.name == $root.__module.name, disabled: module.disabled } ")
                            a.nav-link
                                i(class='{{module.icon}}')
                                span.title  {{ module.name + ':module:sidebar' | translate }}
