div(ng-controller="dashboard/widgets/chart/edit")
    h3 {{ 'editChart:ChartWidget' | translate }}
    tabs
        a(ng-click="tab=''", ng-class="{active:tab==''}", ng-init="tab=''")
            | {{ 'main:chartwidget:tab' | translate }}
        a(ng-click="tab='timeframe'", ng-class="{active:tab=='timeframe'}")
            | {{ 'timeframe:chartwidget:tab' | translate }}
        a(ng-click="tab='inputs'", ng-class="{active:tab=='inputs'}")
            | {{ 'inputs:chartwidget:tab' | translate }}

    div( ng-if="tab==''")
        label {{ 'title:widget:label' | translate }}
        input(ng-model="widget.title")
            
        label {{ 'chart:widget:label' | translate }}
        button(ng-click="chartEditor()") {{'changeChartParameters:chart'|translate}}

    div( ng-if="tab=='timeframe'" )
        label {{ 'step:widget:label' | translate }}
        select(ng-model="widget.options.step")
            option(value="all") {{ 'all:timeframe:widget' | translate }}
            option(value="daily") {{ 'daily:timeframe:widget' | translate }}
            option(value="weekly") {{ 'weekly:timeframe:widget' | translate }}
            option(value="monthly") {{ 'monthly:timeframe:widget' | translate }}
            option(value="yearly") {{ 'yearly:timeframe:widget' | translate }}

        label {{ 'timeframe:widget:label' | translate }}
        select(ng-model="widget.options.timeframe.type")
            option(value="relative") {{ 'relative:timeframe:widget' | translate }}
            option(value="absolute") {{ 'absolute:timeframe:widget' | translate }}
            option(value="static") {{ 'static:timeframe:widget' | translate }}
                
        div( ng-if="widget.options.timeframe.type=='relative'")
            label {{ 'count:timeframe:widget' | translate }}
            input(ng-model="widget.options.timeframe.count")
            
            label {{ 'unit:timeframe:widget' | translate }}
            select(ng-model="widget.options.timeframe.unit")
                option(value="minutes") {{ 'minutes:timeframe:widget' | translate }}
                option(value="hours") {{ 'hours:timeframe:widget' | translate }}
                option(value="days") {{ 'days:timeframe:widget' | translate }}
                option(value="weeks") {{ 'weeks:timeframe:widget' | translate }}
                option(value="months") {{ 'months:timeframe:widget' | translate }}
                option(value="years") {{ 'years:timeframe:widget' | translate }}
                
        div( ng-if="widget.options.timeframe.type=='absolute'")
            label {{ 'unit:timeframe:widget' | translate }}
            select(ng-model="widget.options.timeframe.frame")
                option(value="today")
                    | {{ 'today:timeframe:widget' | translate }}
                option(value="yesterday")
                    | {{ 'yesterday:timeframe:widget' | translate }}
                option(value="thisWeek")
                    | {{ 'thisWeek:timeframe:widget' | translate }}
                option(value="lastWeek")
                    | {{ 'lastWeek:timeframe:widget' | translate }}
                option(value="thisMonth")
                    | {{ 'thisMonth:timeframe:widget' | translate }}
                option(value="lastMonth")
                    | {{ 'lastMonth:timeframe:widget' | translate }}
                option(value="thisYear")
                    | {{ 'thisYear:timeframe:widget' | translate }}
                option(value="lastYear")
                    | {{ 'lastYear:timeframe:widget' | translate }}
                
        div( ng-if="widget.options.timeframe.type=='static'")
            label {{ 'from:timeframe:widget' | translate }}
            input(ng-model="widget.options.timeframe.from", type="date")
            
            label {{ 'to:timeframe:widget' | translate }}
            input(ng-model="widget.options.timeframe.to", type="date")


    div( ng-if="tab=='inputs'" )
        table
            tr
                th {{ 'varName:input:chart' | translate }}
                th {{ 'kind:input:chart' | translate }}
                th {{ 'id:input:chart' | translate }}
                th {{ 'measurement:input:chart' | translate }}
                th &nbsp;
            tr(ng-repeat='(i,input) in widget.options.inputs')
                td {{input.varName}}
                td {{input.kind | translate}}
                td {{input.id}}
                td {{input.type}}
                td.right: button(ng-click="widget.options.inputs.splice(i,1)") &times;
            tr
                td: input(ng-class="{error: !newInput.varName}", ng-model="newInput.varName")
                td: select(ng-model="newInput.source", ng-disabled="!newInput.varName", ng-change="newInput.id=undefined")
                    option(value="measurement")
                        | {{'(smart)device:input:chart' | translate}}
                    option(value="system", disabled)
                        | {{'systemLog:input:chart' | translate}}
                    option(value="stat", disabled)
                        | {{'stat:input:chart' | translate}}
                td: input.fakeSelect(ng-disabled="!newInput.source", placeholder="{{'clickToSelect:device:mathformula'|translate}}", ng-click="selectInputId()", readonly)
                td: select(ng-disabled="!newInput.id", ng-model="newInput.type")
                    option(ng-repeat="type in newInput.types", value="{{type}}")
                        | {{type[0]}}    {{type[1]}}
                td.right: button
                    | {{ 'add:input:chart' | translate }}

    div.pull-right(class="ngdialog-buttons")
        button.lightButton.pull-right(ng-click="closeThisDialog()")
            | {{ 'Cancel:dashboard' | translate }}
        button.lightButton.pull-right(ng-click="confirm(widget)")
            | {{ 'Confirm:dashboard' | translate }}
