div( ng-controller="dashboard/widgets/chart/view" , style="height: 100%")
    button.toggleTable(ng-click="toggleTable()", style="position:relative;top:-35px;right:35px;float:right", ng-if="!tgtab.isTable && widget.options.chartType != 'Table'")
        | {{'showInTable:chart'|translate}}
    button.toggleTable(ng-click="toggleTable()", style="position:relative;top:-35px;right:35px;float:right", ng-if="tgtab.isTable")
        | {{'showInChart:chart'|translate}}
    div( google-chart, chart="widget.chartObject" , style="height: 100%")
