.panel, accordion{
    display: block;
    box-sizing: border-box;
    border: 1px #eee solid;
    border-radius: 1px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.05);
    background: white;
    padding: $gutter;
    margin-bottom: $gutter;
    &>header{
        background-color: $panel_header_bg;
        font-weight: bold;
        margin: -$gutter;
        margin-bottom: $gutter;
        padding: $gutter;
    }
}
pre{
    margin: 0;
}
accordion{
    max-height: 50px;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
    &.open{
        max-height: 100vh;
    }
}
