label
    input.form-control(type="checkbox",ng-model="smart", ng-click="loadDevices(smart)")
    | {{ 'Smartdevices' }}
input.form-control(type="text",ng-model="search", placeholder="search")
select.form-control(ng-model="deviceId",id="deviceId", ng-change="selectDevice(deviceId)")
    option(ng-repeat="device in devicesData | filter:search") {{ device._id }}
select.form-control(ng-model="measurementType")
    option(ng-repeat="measurement in selectedDevice.last", ng-if="!smart") {{ measurement.type }}
    option(ng-if="smart") {{ selectedDevice.type }}
button(ng-click="addMeasurement()") {{ '+' }}