.table-scrollable(scroll='scroll')
    .dataTables_scroll(style='overflow: hidden;')
        .dataTables_scrollHead(style='overflow: hidden;')
            .dataTables_scrollHeadInner
                table.table.table-striped.table-bordered.table-hover.order-column.dataTable.no-footer
                    thead: tr
                        th.sorting_disabled
                        //- columns header display
                        th.sorting( ng-repeat='column in columns'
                        , ng-if="column.key != measurementsColumn.key && !config.noSort"
                        , ng-click='sort(column)'
                        , ng-class='{ "sorting_asc": (sorting.key == column.key && sorting.order == "asc"), "sorting_desc": (sorting.key == column.key && sorting.order == "desc") }' )
                            | {{ (column.label || column.key) + ':' + 'column' | translate }}
                        //- columns header display noSort
                        th.sorting_disabled( ng-repeat='column in columns'
                        , ng-if="column.key != measurementsColumn.key && config.noSort" )
                            | {{ (column.label || column.key) + ':' + 'column' | translate }}
                        //- measurements header display
                        th( ng-repeat="cm in getMeasurementsCount() track by $index" )
                            | {{ (measurementsColumn.label || measurementsColumn.key) + ':' + $root.__module.name + ':' + 'column' | translate }} {{($index+1)}}
                        th.sorting_disabled(ng-if="!(hasValue(config.actions) && !config.actions)")  Actions
        .dataTables_scrollBody(style="overflow: auto; max-height: {{listHeight}}px;")
            table.table.table-striped.table-bordered.table-hover.order-column.dataTable.no-footer
                thead
                    tr
                        th
                            .dataTables_sizing
                        th(ng-repeat='column in columns')
                            .dataTables_sizing
                        th( ng-repeat="mc in getMeasurementsCount() track by $index")
                            .dataTables_sizing
                        th
                            .dataTables_sizing
                tbody
                    tr.odd.gradeX( ng-repeat='row in data', ng-class=' { active: (_id && row._id == _id), danger: isTimedOut(row) } ' )
                        td
                            label.mt-checkbox.mt-checkbox-single.mt-checkbox-outline
                                input.checkboxes(ng-checked='row._id && _id == row._id', ng-click='select(row._id)', type='checkbox')
                                span
                        //- data
                        td( ng-repeat='(idx, column) in columns'
                        , ng-click='select(row._id)'
                        , ng-if="column.key != measurementsColumn.key"
                        , ng-class="{muted:(idx && isDataType(column) && sameDataTypeValue(row, column, columns[idx-1]))}")
                            //- icon
                            span( ng-if='isDefined(row[column.key]) && getColumnType(column) === "icon" && !isContext(row[ column.key ])')
                                i(class="{{row[ column.key ]}}")
                            //- string
                            span( ng-if='isDefined(row[column.key]) && getColumnType(column) === "string" && !isContext(row[ column.key ])'
                            , title="{{(row[ column.key ]._id)?row[ column.key ]._id:row[ column.key ]}}")
                                | {{ row[ column.key ] | localize }}
                            //- translatable
                            span( ng-if='isDefined(row[column.key]) && getColumnType(column) === "translatable" && !isContext(row[ column.key ])')
                                | {{displayTranslatable(row, column)}}
                            //- _id
                            em( ng-if='isDefined(row[column.key]) && getColumnType(column) == "_id" && !isContext(row[ column.key ])')
                                | {{ row[ column.key ] }}
                            //- tags
                            span( ng-if='isDefined(row[column.key]) && getColumnType(column) === "tags" && !isContext(row[ column.key ])')
                                tags-viewer(array="row[ column.key ]")
                            //- data
                            span( ng-if='isDefined(row[column.key]) && isDataType(column) && !isContext(row[ column.key ])')
                                | {{row[ column.key ] | localize}}
                            //- context
                            span( ng-if="isDefined(row[column.key]) && isContext(row[ column.key ])")
                                //- tags-viewer to remove if it continues to crash so much
                                tags-viewer(array="[row[ column.key ]]")
                            //- subkey
                            span( ng-if='getColumnType(column) === "subkey" && !isContext(row[ column.key ])')
                                span(ng-if="!isUndefined(displaySubkey(row, column))")
                                    | {{displaySubkey(row, column) | localize}}
                            //- fallback
                            span( ng-if="!isDefined(row[column.key]) && isDefined(column.fallback) && getColumnType(column) != 'subKey'")
                                | {{column.fallback}}
                        //- measurements
                        td( ng-repeat='m in row[measurementsColumn.key] track by $index', ng-click='select(row._id)' ng-if="measurementsColumn.key")
                            span(ng-if="isObject(m) && !isObject(m.value)")
                                | {{ m.type }}: {{ m.value }} {{ m.unit }}
                            span(ng-if="isObject(m) && isObject(m.value)")
                                | {{ m.type }}
                                span(ng-repeat="subM in m.value track by $index")
                                    | {{ subM | localize }}
                        //- fantom measurements
                        td( ng-repeat='fm in getFantomMeasurements(row[measurementsColumn.key]) track by $index', ng-click='select(row._id)' ng-if="measurementsColumn.key")
                            span()

                        td(ng-if="!(hasValue(config.actions) && !config.actions)")
                            .btn-group
                                button.btn.btn-xs.green.dropdown-toggle(type='button', data-toggle='dropdown', aria-expanded='false')
                                    | Actions
                                    i.fa.fa-angle-down
                                ul.dropdown-menu(role='menu')
                                    li
                                        a(href='javascript:;')
                                            i.icon-docs
                                            |  New Post
                                    li
                                        a(href='javascript:;')
                                            i.icon-tag
                                            |  New Comment
                                    li
                                        a(href='javascript:;')
                                            i.icon-user
                                            |  New User
                                    li.divider
                                    li
                                        a(href='javascript:;')
                                            i.icon-flag
                                            |  Comments
                                            span.badge.badge-success 4
.row
    .col-md-5.col-sm-12
        .dataTables_info(ng-if='filtered > 0')
            | Showing {{ first }} to {{ last }} of {{ filtered }} records
        .dataTables_info(ng-if='filtered <= 0')
            | No data found
