a
    div
        label Id
        input(ng-model="vm.device.id")

        label DataLogger
        input(ng-model="vm.device.datalogger")

        label name
        input(ng-model="vm.device.name")

        label status
        select(ng-model="vm.device.status" ng-options="status as status for status in vm.dataSelectStatus track by $index")

        label type
        select(ng-model="vm.device.type" ng-options="type as type for type in vm.dataSelectType track by $index")

        label brand
        input(ng-model="vm.device.brand")

        label model
        input(ng-model="vm.device.model")

        label timeout
        input(ng-model="vm.device.timeout")

        label notes
        textarea(ng-model="vm.device.notes")

        //TODO: we need an element button loading, we should use https://matejkustec.github.io/SpinThatShit/
        button.pull-right(ng-click="vm.addNewDevice()" ng-disabled="vm.isWaiting"  )
            span Add
                pre(ng-if="vm.isWaiting")  LOADING...