h2
    | {{ 'add:' + module.name | translate}}
label(ng-if="failedAdd")
    | {{ failAddMsg + ':addElem' | translate }}
form( ng-submit='add()' )
    div(ng-repeat=' (label, type) in module.config.tabs[""].config ')
        label(ng-if=' type!="read" && type!="readObject" ', for='{{ label }}' ) {{ label + ':field' | translate }}
        input( name='{{ label }}', ng-if=' type=="text" ', ng-model='item[label]' )
        input( name='{{ label }}', ng-if=' type=="password" ', ng-model='item[label]' type="password" )
        span.unit( ng-if=' type.unit ' )
            input( name='{{ label }}', ng-model='item[label]', type="number" )
            span {{ type.unit + ':unit' | translate }}
        select( name='{{ label }}', ng-if=' isArray( type ) ', ng-model='item[label]' )
            option( ng-repeat=' opt in type ', value='{{opt}}' ) {{ opt + ':' + label + ':option' | translate }}
        textarea( name='{{ label }}', ng-if=' type=="textarea" ', ng-model='item[label]' )
    button.pull-right
        | {{ 'save:' + $root.__module.name + ':add:button' | translate }}
