.modal-header
    h4.modal-title {{ "Confirm deleting this item!!:ModalDialogs:DeleteInTreeView" | translate}}
    
.modal-body 
    p {{"Warning! Deleting this asset may also remove any directly attached and depending on it!:ModalDialogs:DeleteInTreeView" | translate}}

.modal-footer
    button.btn.green(ng-click="confirm()") {{ "Confirm:Buttons" | translate }}