h2 {{'Are you sure ?:confirmation' | translate}}
button.lightButton.pull-right(ng-click="confirm({})") {{ 'Yes:confirmation' | translate }}
button.lightButton.pull-right(ng-click="closeThisDialog()") {{ 'No:confirmation' | translate }}