.modal-header
    h4.modal-title {{'Are you sure ?:confirmation' | translate}}
.modal-footer
    button.btn.dark.btn-outline(type='button', ng-click='closeThisDialog()') {{ 'No:confirmation' | translate }}
    button.btn(type='button', ng-click='confirm({})') {{ 'Yes:confirmation' | translate }}