header
    h1 {{ 'editprofile:modal:title' | translate }}

form( ng-submit='edit()' )
    label( for='firstName' ) {{ 'firstName:field:edit' | translate }}
    input( type='text', ng-model='user.firstName', name='firstName' )

    label( for='lastName' ) {{ 'lastName:field:edit' | translate }}
    input( type='text', ng-model='user.lastName', name='lastName' )

    label( for='email' ) {{ 'email:field:edit' | translate }}
    input( type='text', ng-model='user.email', name='email' )

    button( type='submit' ).pull-right {{ 'edit:button' | translate }}
button.pull-left(ng-click="cancel()") {{ 'cancel:button' | translate }}

h2
    | {{ 'Change password:modal:title' | translate }}
label(ng-if="failed")
    | {{ failmsg + ':changepwd' | translate }}
form( ng-submit='changePassword()' )
    label( for='oldPassword' ) {{ 'old password:field:edit' | translate }}
    input( type='password', ng-model='password.oldPassword', name='oldPassword' )

    label( for='newPassword1' ) {{ 'new Password:field:edit' | translate }}
    input( type='password', ng-model='password.newPassword1', name='newPassword1' )

    label( for='newPassword2' ) {{ 'new Password:field:edit' | translate }}
    input( type='password', ng-model='password.newPassword2', name='newPassword2' )

    button( type='submit' ).pull-right {{ 'Change password:button' | translate }}

button.pull-left(ng-click="cancel()") {{ 'cancel:button' | translate }}
