header
    h1 {{ 'editprofile:modal:title' | translate }}

form( ng-submit='edit()' )
    label( for='firstName' ) {{ 'firstName:field:edit' | translate }}
    input( type='text', ng-model='user.firstName', name='firstName' )

    label( for='lastName' ) {{ 'lastName:field:edit' | translate }}
    input( type='text', ng-model='user.lastName', name='lastName' )

    label( for='email' ) {{ 'email:field:edit' | translate }}
    input( type='text', ng-model='user.email', name='email' )

    button( type='submit' ).pull-right {{ 'edit:button' | translate }}
    button.pull-left(ng-click="cancel()") {{ 'cancel:button' | translate }}
