.modal-header
    .tabbable-line.pull-right
        ul.nav.nav-tabs.nav-tabs-sm
            li(ng-class=' { active: editView }')
                a.modal-edit(ng-click="showEdit()") {{'profile:editmodal' | translate}}
            li(ng-class=' { active: pwdView }')
                a.modal-changepwd(ng-click="showChangepwd()") {{'Change password:editmodal' | translate}}
    
    h4.modal-title {{ 'edit profile:modal:title' | translate }}
    

.modal-body
    div(ng-if="editView")
        form.form-horizontal( ng-submit='edit()' )
            .form-body
                .form-group
                    label.col-md-3.control-label( for='firstName') {{ 'firstName:field:edit' | translate }}
                        span(ng-if="__joi['firstName']._flags.presence == 'required'") *
                    .col-md-9
                        input.form-control( type='text', ng-model='user.firstName', name='firstName' )
                .form-group
                    label.col-md-3.control-label( for='lastName') {{ 'lastName:field:edit' | translate }}
                        span.required *
                    .col-md-9
                        input.form-control( type='text', ng-model='user.lastName', name='lastName' )
                .form-group
                    label.col-md-3.control-label( for='email') {{ 'email:field:edit' | translate }}
                        span.required *
                    .col-md-9
                        input.form-control( type='text', ng-model='user.email', name='email' )
                .form-group
                    label.col-md-3.control-label( for='language') {{ 'language:field:edit' | translate }}
                        span.required *
                    .col-md-9
                        select.form-control(type='text', ng-model='user.language', name='language' )
                            option(ng-repeat='language in languageList' ng-value="language") {{ language + ':field:edit' | translate }}
                .form-group
                    label.col-md-3.control-label( for='locale' ) {{ 'locale:field:edit' | translate }}
                        span.required *
                    .col-md-9
                        select.form-control(type='text', ng-model='user.locale', name='locale' )
                            option( value='fr' )
                                | FR ( Date: "17/09/1991" Num: "1 999,73" )
                            option( value='us' )
                                | US ( Date: "09/17/1991" Num: "1,999.73" )
            
                .row
                    .col-xs-12.text-right
                        span.saved( ng-if=' editState.saved ' )
                            | {{ 'saved:' | translate }}
                        span.failed( ng-if=' editState.failed ' )
                            | {{ 'failed:' | translate }}
                        button.btn.btn-sm.custom(type='submit')
                            | {{ 'save:button' | translate }}
    
    div(ng-if="pwdView")
        form.form-horizontal( ng-submit='changePassword()' )
            .form-body
                .form-group
                    label.col-md-3.control-label( for='oldPassword' ) {{ 'old   password:field:edit' | translate }}
                        span.required *
                    .col-md-9
                        input.form-control( type='password', ng-model='password.oldPassword', name='oldPassword', required, ng-class='{error: (!password.oldPassword && password.newPassword1) }' )

                pass-input( password="password" )

            .row
                .col-xs-12.text-right
                    span.saved( ng-if=' changePasswordResult === true ' )
                        | {{ 'saved:' + $root.__module.name | translate }}
                    span.failed( ng-if=' changePasswordResult && changePasswordResult !== true ' )
                        | {{ 'failed:save:' + $root.__module.name | translate }}
                    button.btn.btn-sm.custom( type='submit', ng-disabled="!password.oldPassword || password.errors.length" )
                        | {{ 'Change password:button' | translate }}
