.tab-header
    h1.modal-title {{ 'edit profile:modal:title' | translate }}
    tabs
        a.modal-edit(ng-click="showEdit()", ng-class=' { active: editView }') {{'Edit:editmodal' | translate}}
        a.modal-changepwd(ng-click="showChangepwd()", ng-class=' { active: pwdView }') {{'Change password:editmodal' | translate}}
.tab-body
    .tab-content(ng-if="editView")
        label(ng-if="failedEdit", style='width: 100%; color: red;')
            | {{ failEditMsg + ':editprofile' | translate }}

        form( ng-submit='edit()' )
            label( for='firstName' ) {{ 'firstName:field:edit' | translate }}
            input( type='text', ng-model='user.firstName', name='firstName' )

            label( for='lastName' ) {{ 'lastName:field:edit' | translate }}
            input( type='text', ng-model='user.lastName', name='lastName' )

            label( for='email' ) {{ 'email:field:edit' | translate }}
            input( type='text', ng-model='user.email', name='email' )

            label( for='language' ) {{ 'language:field:edit' | translate }}
            select(type='text', ng-model='user.language', name='language' )
                option(ng-repeat='language in languageList' ng-value="language") {{ language + ':field:edit' | translate }}

            button.lightButton( type='submit' ).pull-right {{ 'Save:button' | translate }}
    .tab-content(ng-if="pwdView")
        label(ng-if="failedChangepwd", style='width: 100%; color: red;')
            | {{ failChangepwdMsg + ':changepwd' | translate }}

        form( ng-submit='changePassword()' )
            label( for='oldPassword' ) {{ 'old password:field:edit' | translate }}
            input( type='password', ng-model='password.oldPassword', name='oldPassword' )

            label( for='newPassword1' ) {{ 'new Password:field:edit' | translate }}
            input( type='password', ng-model='password.newPassword1', name='newPassword1' )

            label( for='newPassword2' ) {{ 'new Password:field:edit' | translate }}
            input( type='password', ng-model='password.newPassword2', name='newPassword2' )

            button.lightButton( type='submit' ).pull-right {{ 'Change password:button' | translate }}
