h2
    | {{ 'own:' + module.name | translate }}
form( ng-submit='own()' )
    label( for='_id' ) {{ '_id:field' | translate }}
    input( name='_id' ng-model='item._id' )
    button.pull-right
        | {{ 'own:' + $root.__module.name + ':button' | translate }}
