//- OLD
    h2 {{ __config.toolboxName + ':' + module.name + ':title' | translate}}

    h5.muted(ng-if='!loaded') {{'Loading:' + module.name + ':toolbox'|translate}}
    ng-include( src='"generic/form.pug"', ng-if='loaded' )

.modal-header
    h4.modal-title {{ __config.toolboxName + ':' + module.name + ':title' | translate}}
.modal-body
    ng-include(src='"generic/form.pug"', ng-if='loaded')
.modal-footer
    .has-error(ng-if='__validation.length == 0')
        span.help-block {{ message }}

    button.btn.dark.btn-outline(type='button', ng-click='closeThisDialog()') Close
    button.btn.green(type='button', ng-click='save()', ng-if="!disableSaveBTN") Save changes
