.portlet.box.green.no-title
    .portlet-body
        .tabbable-line
            i.fa.fa-close.pull-right(ng-click='$root.go( $root.__module ); backToList();')
            ul.nav.nav-tabs
                li(ng-repeat='(name, config) in tabs', ng-class='{ active: name == __view }')
                    a(ng-click='tab(name)', id="tab-{{ name || 'overview' }}")
                        span( ng-if="name") {{ name + ':tab' | translate }}
                        span( ng-if="!name") {{ __id }}

        .tab-content
            ng-include( src="'alertsList/overview.pug' " tab="{{'overview'}}" )
