h4 Overview

ng-include.row( src='"generic/form.pug"', ng-controller='alertsList/overview' )

.col-xs-12
    .btn-toolbar.pull-right
        button.btn.default( ng-click='confirmDeletion()', ng-if=' !!confirmDeletion ' )
            | {{ 'delete:button' | translate }}
        button.btn.green(ng-click=' save() ', ng-if="!disableSaveBTN")
            | {{ 'save:' + $root.__module.name + ':button' | translate }}

.last.col-xs-12
    .btn-toolbar.pull-right
        //- un
        button.btn.default( ng-if="item.acknowledged" ng-click='unacknowledge(item._id)' )
            | {{ 'unacknowledge:alerts:button' | translate }}
        //- acknowledge
        button.btn.default( ng-if="!item.acknowledged" ng-click='acknowledge(item._id)' )
            | {{ 'acknowledge:alerts:button' | translate }}
        //- un
        button.btn.default( ng-if="item.read" ng-click='unread(item._id)' )
            | {{ 'unread:alerts:button' | translate }}
        //- read
        button.btn.default( ng-if="!item.read" ng-click='read(item._id)' )
            | {{ 'read:alerts:button' | translate }}
