//-table
    thead: tr
        th( ng-repeat='column in columns', ng-click='sort(column)', ng-class='{ "sort-asc": (sorting.col == column && sorting.order == "asc"), "sort-desc": (sorting.col == column && sorting.order == "desc") }' )
            | {{ column + ':' + 'column' | translate }}
    tbody
        tr( ng-repeat='row in data', ng-click='select(row._id)', ng-class=' { active: row._id == __id, danger: isTimedOut(row) } ' )
            td( ng-repeat='column in columns')
                span( ng-if='row[ column ] !== undefined && column === "icon"')
                    i(class="{{row[ column ]}}")
                span( ng-if='row[ column ] !== undefined && column != "_id" && column != "icon"', title="{{(row[ column ]._id)?row[ column ]._id:row[ column ]}}" )
                    | {{ row[ column ] | localize }}
                em( ng-if='column == "_id"')
                    | {{ row[ column ] }}
//-.noData( ng-if='total === 0' )
    | {{ 'nodata' | translate}}
