h3 {{ 'newWidget:widget:dashboard' | translate }}
div
    label {{ 'title:widget:label' | translate }}
    input(ng-model="widget.title")

div
    label {{ 'widget:widget:label' | translate }}
    select(ng-model="widget.type", ng-init="widget.type='chart'")
        option( ng-repeat="type in widgetTypes" value="{{type}}", ng-if="allowed(type)") {{ type+':widget' | translate }}

div.pull-right(class="ngdialog-buttons")
    button.lightButton.pull-right(ng-click="closeThisDialog()")
        | {{ 'cancel:widget:button' | translate }}
    button.lightButton.pull-right(ng-click="confirm( widget )")
        | {{ 'save:widget:button' | translate }}
