.modal-header
    h4.modal-title {{ 'newWidget:widget:dashboard' | translate }}

.modal-body
    form.form-horizontal
        .form-body
            .form-group
                label.col-md-3.control-label {{ 'title:widget:label' | translate }}
                .col-md-9
                    input.form-control(ng-model="widget.title")

            .form-group
                label.col-md-3.control-label {{ 'widget:widget:label' | translate }}
                .col-md-9
                    select.form-control(ng-model="widget.type", ng-init="widget.type='chart'")
                        option( ng-repeat="type in widgetTypes" value="{{type}}", ng-if="allowed(type)") {{ type+':widget' | translate }}

.modal-footer
    button.btn.default(ng-click="closeThisDialog()")
        | {{ 'cancel:widget:button' | translate }}
    button.btn.green(ng-click="confirm( widget )")
        | {{ 'save:widget:button' | translate }}
