div(ng-if="widget.edit")
    .pull-right
        i.fa.fa-edit(ng-click='edit(widget)')
        i.fa.fa-cog(ng-click='remove(widget)')
    
    strong {{widget.title}}

div(ng-include='"dashboard/widgets/"+widget.type+"/view.pug"', ng-if="widget.type")
div(ng-if="!widget.type") Old widget system

label(ng-if="loading") {{ 'loading:widget:dashboard' | translate }}
