div(ng-if="widget.edit")
    .pull-right
        i.fa.fa-fw.fa-pencil(ng-click='edit(widget)')
        i.fa.fa-fw.fa-trash-o(ng-click='remove(widget)')
        i.fa.fa-fw
    
    strong {{widget.title}}

.widget-view(ng-include='"dashboard/widgets/"+widget.type+"/view.pug"', ng-if="widget.type")
div(ng-if="!widget.type") Old widget system

label(ng-if="loading") {{ 'loading:widget:dashboard' | translate }}
