/*
 * Base structure
 */
/* Move down content because we have a fixed navbar */
body {
    padding-top: $navbar-height;
}
/*
 * Sidebar
 */
.sidebar {
    /* Hide for mobile */
    @media (max-width: 768px) {
        display: none;
        right: 0;
    }
    position: fixed;
    top: 40px !important;
    width:190px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: floor(($grid-gutter-width / 2));
    overflow-x: hidden;
    overflow-y: auto;
    background: linear-gradient(-10deg, #6ea3ab, #70ab9c) !important; }

    /* Scrollable contents if viewport is shorter than content. */
    .fa {
        position: relative;
    }
.main{
    position:absolute;
    transition:all 0.1s linear;
    right: 0px;
    left: 189px;
}
#sidebar.collapseSidebar{
    width: $navbar-height;
}
#sidebar.collapseSidebar ul li > a{
    font-size:18px;
}
#sidebar.collapseSidebar span.title{
    display:none;
}

.main.collapseSidebar{
    position: absolute;
    top: $navbar-height;
    bottom: 0;
    left: $navbar-height;
    right: 0;
    margin: 0;
    float: none;
    width: auto;
}

/* Sidebar navigation */
.nav-sidebar {
    margin-right: -21px;
    /* 20px padding + 1px border */
    margin-bottom: 20px;
    margin-left: -20px;
    text-transform: none !important;
}
.nav-sidebar > li > a {
    padding-right: 20px;
    padding-left: 20px;
    border-bottom: 1px solid rgba(250, 250, 250, 0.18);
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:focus,
.nav-sidebar > .active > a:hover {
    color: #fafafa;
    background-color: rgba(200, 221, 216, 0.11) !important;
}
.navbar-img {
    height: 38px;
    margin: -8px;
    position: relative;
    left: $grid-gutter-width / 2;
}
.navbar-brand > img {
    height: $navbar-height - 10px;
    margin: -10px;
}
.dashboard-menu .fa {
    position: relative;
    left: -8px;
    color:white;
}

.widgetContent *{
    margin-left: auto !important;
    margin-right: auto !important;
}
.clipLogo{
    position:absolute;
    clip: rect(0px,40px,40px,0px);
}
.bigIconLocation{
    font-size:40px;
    margin-bottom:-35px;
    margin-right:40px;
    color: #91c1b5;
}
.noWrap{
  white-space: nowrap;


}


.datatableButtons {
    position: absolute;
    right: 0px;
    z-index: 1;
}
