input {
    box-sizing: border-box;
    background: $input_bg;
    color: $input_changed;
    border: $input_border solid 1px;
    border-radius: 3px;
    padding: $gutter/3;
    margin: $gutter/2 0;
    font-size: 1em;
    width: 100%;
    display: block;
    outline: none;
    cursor: text;

    &:focus {
        border: $input_border_active solid 1px;
        box-shadow: 0 1px 1px $input_border;
    }

    &.ng-pristine {
        color: $input_same;
    }

    &[disabled],
    &[readonly] {
        background: $input_bg_disabled;
        color: $input_same;
        cursor: default;
    }
}

span.unit {
    input {
        width: 60%;
        padding-right: 70px;
        margin-right: -60px;
        display: inline-block;
    }

    span {
        color: $input_border_active;
        width: 60px;
        display: inline-block;
        overflow: hidden;
        text-overflow: ellipsis;
        position: relative;
        top: 5px;
    }
}
