label+input, label+textarea, label+select {
    width: 65%;
    max-width: 65%;
    display: inline-block;
    @media(max-width:$mobile_break) {
        width: 100%;
        max-width: 100%;
    }
}
label {
    width: 35%;
    box-sizing: border-box;
    display: inline-block;
    text-align: right;
    vertical-align: top;
    padding: $gutter;
    @media(max-width:$mobile_break) {
        width: 100%;
        padding: $gutter 0 0 0;
        text-align: left;
    }
    &.required::before {
        content: '*';
        color: $danger;
        margin-right: 3px;
    }
}
