select {
    box-sizing: border-box;
    background: $input_bg;
    color: $input_changed;
    border: $input_border solid 1px;
    border-radius: 3px;
    margin: $gutter/2 0;
    font-size: 1em;
    width: 100%;
    max-width: 100%;
    height: 30px;
    display: block;
    outline: none;
    &.ng-pristine {
        color: $input_same;
    }
    &[disabled] {
        background: $input_bg_disabled;
        color: $input_same;
        cursor: default;
    }
}

.fakeSelect {
    background-repeat: no-repeat !important;
    background-position: right !important;
    background-color: $input_bg !important;
    &[disabled] {
        background: $input_bg_disabled !important;
        color: $input_same;
        cursor: default;
    }
}
