.page-header-inner
    .page-logo
        a(ng-click='$root.collapseSidebar=!$root.collapseSidebar')
            img.logo-default(src='./img/logo.png', alt='logo')
        .menu-toggler.sidebar-toggler
            span
            
    .app-appselector

    a.menu-toggler.responsive-toggler(href='javascript:;', data-toggle='collapse', data-target='.navbar-collapse')
        span
    .top-menu
        ul.nav.navbar-nav.pull-right
            li#header_notification_bar.dropdown.dropdown-extended.dropdown-notification
                a.dropdown-toggle(href='javascript:;', data-toggle='dropdown', data-hover='dropdown', data-close-others='true')
                    i.icon-bell
                    span.badge.badge-default  0
                ul.dropdown-menu
            
            li.dropdown.dropdown-user.app-userselector
            
            li.dropdown.dropdown-quick-sidebar-toggler
              a.dropdown-toggle(href='javascript:;')
                i.icon-logout