.page-header-inner
    //- app-logo(ng-click='$root.collapseSidebar=!$root.collapseSidebar')
    .page-logo
        a(ng-click='$root.collapseSidebar=!$root.collapseSidebar')
            img.logo-default(src='./img/logo.png', alt='logo')
        .menu-toggler.sidebar-toggler
            span
            
    // BEGIN HORIZANTAL MENU    
        .hor-menu.hidden-sm.hidden-xs
          ul.nav.navbar-nav
            li.classic-menu-dropdown.active
              a(href='index.html')
                | Dashboard
                span.selected
            li.mega-menu-dropdown
              a.dropdown-toggle(data-hover='dropdown', data-close-others='true', data-toggle='dropdown', href='javascript:;')
                | Mega
            li.mega-menu-dropdown.mega-menu-full
              a.dropdown-toggle(data-hover='dropdown', data-close-others='true', data-toggle='dropdown', href='javascript:;')
                | Full Mega
            li.classic-menu-dropdown
              a(data-hover='dropdown', data-close-others='true', data-toggle='dropdown', href='javascript:;')
                | Classic
            li
              a(href='')
                | Link
    
    .app-appselector

    
    // END HORIZANTAL MENU

    a.menu-toggler.responsive-toggler(href='javascript:;', data-toggle='collapse', data-target='.navbar-collapse')
        span
    .top-menu
        //- #appName {{ $root.__appName + ':application' | translate }}
        ul.nav.navbar-nav.pull-right
            // BEGIN NOTIFICATION DROPDOWN
            li#header_notification_bar.dropdown.dropdown-extended.dropdown-notification
                a.dropdown-toggle(href='javascript:;', data-toggle='dropdown', data-hover='dropdown', data-close-others='true')
                    i.icon-bell
                    span.badge.badge-default  0
                ul.dropdown-menu
            // END NOTIFICATION DROPDOWN
            
            // BEGIN INBOX DROPDOWN
            li#header_inbox_bar.dropdown.dropdown-extended.dropdown-inbox
                a.dropdown-toggle(href='javascript:;', data-toggle='dropdown', data-hover='dropdown', data-close-others='true')
                    i.icon-envelope-open
                    span.badge.badge-default  0
                ul.dropdown-menu
            // END INBOX DROPDOWN
            
            // BEGIN TODO DROPDOWN
            li#header_task_bar.dropdown.dropdown-extended.dropdown-tasks
                a.dropdown-toggle(href='javascript:;', data-toggle='dropdown', data-hover='dropdown', data-close-others='true')
                    i.icon-calendar
                    span.badge.badge-default  0
                ul.dropdown-menu
            // END TODO DROPDOWN
            
            //BEGIN USER DROPDOWN
            //- not working
                li.dropdown.dropdown-user.app-dropdown( icon='user', text="userName" )
                    li
                        a( ng-click="editprofile()" )
                            i.icon-user
                            | {{ 'edit profile:topbar' | translate }}
                    li
                        a( href="/logout" ) 
                            i.icon-key
                            | {{ 'logout:topbar' | translate }}
                            
            //- working
            li.dropdown.dropdown-user.app-userselector
            //END USER DROPDOWN
            
            // BEGIN QUICK SIDEBAR TOGGLER
            li.dropdown.dropdown-quick-sidebar-toggler
              a.dropdown-toggle(href='javascript:;')
                i.icon-logout
            // END QUICK SIDEBAR TOGGLER
