//- not working
    dropdown( icon='user', text="userName" )
        li
            a( ng-click="editprofile()" )
                i.icon-user
                | {{ 'edit profile:topbar' | translate }}
        li
            a( href="/logout" ) 
                i.icon-key
                | {{ 'logout:topbar' | translate }}
        


//- working
a.dropdown-toggle(data-toggle='dropdown', aria-haspopup="true", aria-expanded="true")
    img.img-circle(alt='', src='{{user}}')
    span.username.username-hide-on-mobile  {{userName}} 
    i.fa.fa-angle-down

ul.dropdown-menu.dropdown-menu-default
    li
        a( href="" )
            i.icon-user
            | {{ 'edit profile:topbar' | translate }}
    li
        a.my-toggler.hidden-sm.hidden-xs()
            i.icon-settings
            | {{'theme:topbar' | translate}}
    li
        a( href="/logout" )
            i.icon-key
            | {{ 'logout:topbar' | translate }}