div(ng-controller="lineCtrl")
    fieldset()
        span(style="width: 100%")
            select.form-control(ng-model="widget.dateOption",id="widget.dateOption", ng-change="setDateOption(widget.dateOption)")
                option(ng-repeat="options in dateOptions" ) {{ options + ':chart' | translate }}
            input(type="checkbox", ng-model="widget.customDate")
            div.custom-date
                label
                    | {{ 'From:editwidget' | translate }}
                datepicker
                    input(ng-model="widget.startDate", type="text")
                label
                    | {{'To:editwidget' | translate }}
                datepicker
                    input(ng-model="widget.endDate", type="text")
        span(style="width: 100%;")
            input.form-control(style="width:20%;",type="text",ng-model="search", placeholder="search")
            select.form-control(ng-model="widget.deviceId",id="widget.deviceId", ng-change="selectDevice(widget.deviceId)")
                option(ng-repeat="device in devicesData | filter:search") {{ device._id }}
            select.form-control(style="width:20%;",ng-model="widget.measurementType",id="widget.measurementType")
                option(ng-repeat="measurement in widget.selectedDevice.last") {{ measurement.type }}
            button(ng-click="addTempDevice(widget.deviceId)") {{ '+' }}

        table(class="table-condensed tableModalWidget")
            thead
                tr
                    th
                        span
                            | Device
                    th
                        span
                            | Color
                    th
                        span
                            | Actions
            tbody
                tr(ng-repeat="device in tempDeviceList")
                    td
                        span.modalInputWidget
                            | {{ device.id }}
                    td
                        span.modalInputWidget
                            | {{ device.color }}
                    td
                        span.modalInputWidget(ng-click="removeDevice(device)")
                            | {{ 'Remove:modalLine' | translate }}
    .modalButtons
        button.btn.btn-primary.pull-right(ng-click="apply()")
            | {{ 'Save:chart' | translate }}
