div(ng-controller="lineCtrl")
    fieldset()
        span
            select.form-control(ng-model="widget.dateOption",id="widget.dateOption", ng-change="setDateOption(widget.dateOption)")
                option(ng-repeat="options in dateOptions" ) {{ options + ':chart' | translate }}
            input(type="checkbox", ng-model="widget.customDate")
            div.custom-date
                label
                    | {{ 'From:editwidget' | translate }}
                datepicker(date-format="MM/dd/yyyy")
                    input(ng-model="widget.startDate", type="text")
                label
                    | {{'To:editwidget' | translate }}
                datepicker(date-format="MM/dd/yyyy")
                    input(ng-model="widget.endDate", type="text")
        span
            measurement-selector(device-id="widget.deviceId", measurement-type="widget.measurementType", smart="widget.smart", add-measurement="addTempDevice()")

        table(class="table-condensed tableModalWidget")
            thead
                tr
                    th
                        span
                            | Device
                    th
                        span
                            | Actions
            tbody
                tr(ng-repeat="device in tempDeviceList")
                    td
                        span.modalInputWidget
                            | {{ device.id }}
                    td
                        button.lightButton(ng-click="removeDevice(device)")
                            | {{ '-:chart' | translate }}
    .modalButtons
        button.btn.btn-primary.pull-right(ng-click="apply()")
            | {{ 'Save:chart' | translate }}
