div(ng-controller="lineCtrl")
    fieldset.form-group()
        label
            | Device
        input.form-control(style="width:20%;",type="text",ng-model="search")
        select.form-control(ng-model="widget.deviceId",id="widget.deviceId", ng-change="selectDevice(widget.deviceId)")
            option(ng-repeat="device in devicesData | filter:search") {{ device._id }}
        select.form-control(style="width:20%;",ng-model="widget.measurementType",id="widget.measurementType", ng-click="selectMeasurement(widget.measurementType)")
            option(ng-repeat="measurement in widget.selectedDevice.last") {{ measurement.type }}

        table(class="table-condensed tableModalWidget")
            thead
                tr
                    th
                        span
                            | Device
                    th
                        span
                            | Data
                    th
                        span
                            | From
                    th
                        span
                            | To
            tbody
                tr
                    td
                        span.modalInputWidget
                            | {{ selectedDevice.name }}
                    td
                        span.modalInputWidget
                            | {{ measurementType }}
                    td
                        datepicker
                            input.input-inline(ng-model="widget.startDate", type="text", ng-change="loadHistory(widget.deviceId, widget.startDate, widget.endDate, widget.measurementType, widget)")
                    td
                        datepicker
                            input.input-inline(ng-model="widget.endDate", type="text", ng-change="loadHistory(widget.deviceId, widget.startDate, widget.endDate, widget.measurementType, widget)")

    .modalButtons
        button.btn.btn-primary.pull-right(ng-click="confirm({'newWidget' : widget,'title' : $parent.$parent.widget.title})")
            | `Apply`
