.panel.panel-default(style="position: absolute; right: 15px; top: 70px; left: 15px; bottom: 15px; overflow: scroll;")
    .panel-body(style="padding:0px;")
        div(style='background: none' )
            .panel.headerDashboard
                button(ng-repeat="dashboard in dashboards", ng-click="showDashboard(dashboard.id)", ng-class=' { active: isCurrent(dashboard) }', ng-dblclick="rename(dashboard)") {{ dashboard.name }}
                dropdown.pull-right(text="'V'") 
                    a(ng-click='newDashboard()') {{ 'New dashboard:dashboardHeader' | translate }}
                    a(ng-click='clickToOpen(currentDashboard)') {{ 'Add widget:dashboardHeader' | translate }}
                    a(ng-click='clear(currentDashboard); saveAllDashboards();') {{ 'Clear widgets:dashboardHeader' | translate }}
                    a(ng-click='confirmDashboardDelete(currentDashboard.id); saveAllDashboards;') {{ 'Delete dashboard:dashboardHeader' | translate }}
                    a(ng-click='enableDraggable()', ng-if='!gridsterOpts.draggable.enabled') {{ 'Enable draggable:dashboardHeader' | translate }}
                    a(ng-click='disableDraggable()',  ng-if='gridsterOpts.draggable.enabled') {{ 'Disable draggable:dashboardHeader' | translate }}

            div(gridster='gridsterOpts', ng-scope='', gridster-loaded='', gridster-desktop='')
                ul
                    li(style='background-color:white;', gridster-item='item', ng-repeat='item in currentDashboard.data ')
                        ng-widget(widget='item',delete='deleteWidget(item)', resize-widgets='resizeWidgets()',disable-save="disableSave()",enable-save ="enableSave()")