.modal-header
    h4.modal-title {{ 'Enter the title:dashboard' | translate }}

.modal-body
    input.form-control(type="text", ng-model="nameValue")

.modal-footer
    button.btn.btn-sm.default(type="button", ng-click="closeThisDialog(0)") 
        | {{ 'Cancel:dashboard' | translate }}
    button.btn.btn-sm.green(type="button", ng-click="confirm(nameValue)")
        | {{ 'Confirm:dashboard' | translate }}
