$simple-line-font-path: "./fonts/";
@import 'metronic/simple-line-icons/simple-line-icons.scss';

$fa-font-path: "./fonts";
@import 'metronic/font-awesome/font-awesome.scss';

@import '../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap';

@import 'metronic/datatables.bootstrap';
@import 'metronic/datatables.min';
@import 'metronic/bootstrapCustom';

@import 'metronic/layouts/layout/layout';
@import 'metronic/layouts/layout/custom';

@import 'metronic/global/components-main';
@import 'metronic/global/plugins-main';

body {
    opacity: 1;
}
