$mobile_break: 599px;
$gutter: 15px;

$danger: #A45;
$badge_bg: #AAA;
$badge_txt: white;

$topnav_height: 55px;
$topnav_bg: #AAA;
$header_height: 40px;

$sidebar_width: 200px;
$sidebar_width_collapsed: 55px;
$sidebar_item_height: 55px;
$sidebar_bg: #CCC;
$sidebar_bg_hover: #BBB;
$sidebar_bg_active: #DDD;

$modal_bg: white;
$modal_mask: rgba(0,0,0,0.4);
$modal_border: #BBB;

$input_bg: white;
$input_bg_disabled: #EEE;
$input_border: #CCC;
$input_border_active: #AAA;
$input_same: #666;
$input_changed: #222;

$button_bg: #CCC;
$button_bg_hover: #BBB;

$table_header_bg: #CCC;
$table_even_bg: #EEE;
$table_hover_bg: #DDD;
$table_active_bg: #BBB;
